In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
# this method loops thru every value of the given pandas series and calculates
# the total number of nan values and the fraction of 
# the total number of nan values / the total values in series 
def count_nan(series):
    count = 0
    for i in series:
        if i is np.nan:
            count += 1
    return count, count/len(series)

In [15]:
# this method transforms a string that contains different values separated by
# a semicolon and a space(;) of a given attribute in a given dataframe into a list and 
# returns in the pandas series format and a nparray that contains the indexes of rows that
# has nan 
def merge_str_list(df, attr_name):
    drop_lst = np.array([])
    result = pd.Series()
    for i in range(df.shape[0]):
        data = df[attr_name][i]
        # if string value, extract all values into a list
        if type(data) is str:
            result[i] = data.split(';')
        # if not string value, then add the index into drop_lst
        else:
            drop_lst = np.append(drop_lst, i)
            result[i] = data
    
    return result, drop_lst

In [16]:
# read csv
df = pd.read_csv("2022 survey_results_public.csv")
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [17]:
# print out all attributes
total_attributes = df.columns
for i in total_attributes:
    print(i)

ResponseId
MainBranch
Employment
RemoteWork
CodingActivities
EdLevel
LearnCode
LearnCodeOnline
LearnCodeCoursesCert
YearsCode
YearsCodePro
DevType
OrgSize
PurchaseInfluence
BuyNewTool
Country
Currency
CompTotal
CompFreq
LanguageHaveWorkedWith
LanguageWantToWorkWith
DatabaseHaveWorkedWith
DatabaseWantToWorkWith
PlatformHaveWorkedWith
PlatformWantToWorkWith
WebframeHaveWorkedWith
WebframeWantToWorkWith
MiscTechHaveWorkedWith
MiscTechWantToWorkWith
ToolsTechHaveWorkedWith
ToolsTechWantToWorkWith
NEWCollabToolsHaveWorkedWith
NEWCollabToolsWantToWorkWith
OpSysProfessional use
OpSysPersonal use
VersionControlSystem
VCInteraction
VCHostingPersonal use
VCHostingProfessional use
OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncWantToWorkWith
OfficeStackSyncHaveWorkedWith
OfficeStackSyncWantToWorkWith
Blockchain
NEWSOSites
SOVisitFreq
SOAccount
SOPartFreq
SOComm
Age
Gender
Trans
Sexuality
Ethnicity
Accessibility
MentalHealth
TBranch
ICorPM
WorkExp
Knowledge_1
Knowledge_2
Knowledge_3
Knowledge_4
Knowledge_5
Knowledge_6
Knowledge_7
Frequency_1
Frequency_2
Frequency_3
TimeSearching
TimeAnswering
Onboarding
ProfessionalTech
TrueFalse_1
TrueFalse_2
TrueFalse_3
SurveyLength
SurveyEase
ConvertedCompYearly

In [18]:
df['YearsCode'].unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 'More than 50 years', '29',
       '30', '32', 'Less than 1 year', '48', '45', '38', '39', '28', '23',
       '43', '21', '41', '35', '50', '33', '31', '34', '46', '44', '42',
       '47', '49'], dtype=object)

Need to change the years program into the following range

Old value                                                  => New value

x <= 2           => 0 - 2 years
 
2 < x <= 5       => 2 - 5 years

6 <= x <= 10     => 6 - 10 years

x > 10           => 11+ years

In [19]:
# transfer to bin size and create a new attribute 'code_yrs'
data = df['YearsCode']
code_yrs = pd.Series()
for i in range(len(data)):
    a = data[i]
    
    if a == "Less than 1 year":
        code_yrs[i] = "0 - 2 years"
    elif a == "More than 50 years":
        code_yrs[i] = "11+ years"
    elif type(a) == float:
        code_yrs[i] = a
    else:
        a_int = int(a)
        if a_int <= 2:
            code_yrs[i] = "0 - 2 years"
        elif a_int > 2 and a_int <= 5 :
            code_yrs[i] = "2 - 5 years"
        elif a_int >= 6 and a_int <= 10:
            code_yrs[i] = "6 - 10 years"
        elif a_int > 10:
            code_yrs[i] = "11+ years"

# create a new attribute
df['code_yrs'] = code_yrs

In [20]:
df['ConvertedCompYearly'].value_counts()

ConvertedCompYearly
150000.0    393
200000.0    362
120000.0    341
63986.0     304
100000.0    279
           ...
38112.0       1
35619.0       1
16203.0       1
43324.0       1
283982.0      1
Name: count, Length: 7909, dtype: int64

Transform float values of Salary into ranges as below:

Less than $20,000         
$20,000 - $40,000          
$40,000 - $60,000          
$60,000 - $80,000          
$80,000 - $100,000         
$100,000 - $120,000        
$120,000 - $140,000                
$140,000 - $160,000        
More than $160,000   
Rather not say             
Unemployed 
Other (please specify)      

There will be no values for Rather not say, Unemployed and Other

In [21]:
# this transform the values of salary into the same bin size as previous surveys and create a new attribute salary_merge
salary_merge = pd.Series()
data = df['ConvertedCompYearly']
for i in range(len(data)):
    if data[i] < 20000:
        salary_merge[i] = "Less than $20,000"
    elif data[i] >= 20000 and data[i] < 40000:
        salary_merge[i] = "$20,000 - $40,000"
    elif data[i] >= 40000 and data[i] < 60000:
        salary_merge[i] = "$40,000 - $60,000"
    elif data[i] >= 60000 and data[i] < 80000:
        salary_merge[i] = "$60,000 - $80,000"
    elif data[i] >= 80000 and data[i] < 100000:
        salary_merge[i] = "$80,000 - $100,000"
    elif data[i] >= 100000 and data[i] < 120000:
        salary_merge[i] = "$100,000 - $120,000"
    elif data[i] >= 120000 and data[i] < 140000:
        salary_merge[i] = "$120,000 - $140,000"
    elif data[i] >= 140000 and data[i] < 160000:
        salary_merge[i] = "$140,000 - $160,000"
    elif data[i] >= 160000:
        salary_merge[i] = "More than $160,000"
    # if nan, the transformed data is still nan
    elif np.isnan(data[i]):
        salary_merge[i] = np.nan

df['salary_merge'] = salary_merge

In [22]:
df['DevType']

0                                                      NaN
1                                                      NaN
2        Data scientist or machine learning specialist;...
3                                    Developer, full-stack
4        Developer, front-end;Developer, full-stack;Dev...
                               ...
73263                                  Developer, back-end
73264        Data scientist or machine learning specialist
73265    Developer, full-stack;Developer, desktop or en...
73266    Developer, front-end;Developer, desktop or ent...
73267    Developer, front-end;Engineer, data;Engineer, ...
Name: DevType, Length: 73268, dtype: object

Transform df['DevType'] into list and create a new attribute devtyp_t

In [23]:
# transform df['DevType'] into list and create a new attribute devtyp_t

result = pd.Series()
for i in range(df.shape[0]):
    data = df['DevType'][i]
    # if string value, extract all values into a list
    if type(data) is str:
        result[i] = data.split(';')
        lst = []
        for j in result[i]:
            if j == "Senior Executive (CSuite, VP, etc.)":
                j = "Senior Executive (CSuite/VP/etc.)"
                lst.append(j)
            else: 
                lst.append(j.replace(", ", "_"))
        result[i] = lst
                
    # if not string value, 
    else:
        result[i] = data
    

df['devtyp_t'] = result


# also replace "Developer, full-stack" to "Developer_full-stack"
# replace "Developer, front-end" to "Developer_front-end"
# replace "Developer, back-end" to "Developer_back-end"
# replace "Developer, desktop or enterprise applications" to "Developer_desktop or enterprise applications"
# replace "Developer, embedded applications or devices" to "Developer_embedded applications or devices"
# replace "Developer, game or graphics" to "Developer_game or graphics"
# replace "Developer, mobile" to "Developer_mobile"
# replace "Developer, QA or test" to "Developer_QA or test"
# replace "Engineer, data" to "Engineer_data"
# replace "Engineer, site reliability" to "Engineer_site reliability"
# replace "Senior Executive (CSuite, VP, etc.)" to "Senior Executive (CSuite/VP/etc.)"

In [24]:
df['NEWCollabToolsHaveWorkedWith']

0                                                      NaN
1                                                      NaN
2                                  Notepad++;Visual Studio
3               Notepad++;Visual Studio;Visual Studio Code
4         Notepad++;Visual Studio;Visual Studio Code;Xcode
                               ...
73263    IPython/Jupyter;Sublime Text;Vim;Visual Studio...
73264    IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...
73265              Spyder;Visual Studio;Visual Studio Code
73266       RAD Studio (Delphi, C++ Builder);Visual Studio
73267                     Visual Studio;Visual Studio Code
Name: NEWCollabToolsHaveWorkedWith, Length: 73268, dtype: object

Transform df['NEWCollabToolsHaveWorkedWith'] into list and create a new attribute ide_t

In [25]:
# transform df['DevEnviron'] into list and create a new attribute ide_t
df['ide_t'], _ = merge_str_list(df, 'NEWCollabToolsHaveWorkedWith')

In [26]:
# single choice
df['EdLevel']

0                                                    NaN
1                                                    NaN
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
4           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
                              ...
73263       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
73264    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
73265       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
73266       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
73267       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 73268, dtype: object

In [27]:
# multiple choice
df['LearnCode']

0                                                      NaN
1                                                      NaN
2        Books / Physical media;Friend or family member...
3        Books / Physical media;School (i.e., Universit...
4        Other online resources (e.g., videos, blogs, f...
                               ...
73263    Books / Physical media;Other online resources ...
73264    Other online resources (e.g., videos, blogs, f...
73265    Books / Physical media;Other online resources ...
73266           Books / Physical media;On the job training
73267    Books / Physical media;Friend or family member...
Name: LearnCode, Length: 73268, dtype: object

Merge df['EdLevel']and df['LearnCode'] into a new attribute called 'edu_t'

In [28]:
# Merge df['EdLevel'] and df['LearnCode'] into a new attribute called 'edu_t'
data_formal = df['EdLevel']
data_learn = df['LearnCode']
edu_t = pd.Series()

for i in range(len(df)):
    a = data_formal[i]
    c = data_learn[i]
    lst = list()

    if a is not np.nan:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
        edu_t[i] = lst
    else:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
            
            edu_t[i] = lst
        else:
            edu_t[i] = a
    

df['edu_t'] = edu_t

In [29]:
# multiple choice
df['OpSysProfessional use']

0                        NaN
1                      macOS
2                    Windows
3                    Windows
4                    Windows
                ...
73263                  macOS
73264    Linux-based;Windows
73265                Windows
73266                Windows
73267    Linux-based;Windows
Name: OpSysProfessional use, Length: 73268, dtype: object

In [30]:
# multiple choice
df['OpSysPersonal use']

0                                      NaN
1        Windows Subsystem for Linux (WSL)
2                                  Windows
3                                  Windows
4                            macOS;Windows
                       ...
73263                    Linux-based;macOS
73264                  Linux-based;Windows
73265                              Windows
73266                              Windows
73267                  Linux-based;Windows
Name: OpSysPersonal use, Length: 73268, dtype: object

Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t

In [31]:
# Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t
opsys = pd.Series()
data_per = df['OpSysPersonal use']
data_pro = df['OpSysProfessional use']
for i in range(len(data_per)):
    lst = list()
    a = data_per[i]
    b = data_pro[i]
    if a is not np.nan:
        a_lst = a.split(";")
        # a and b are not nan
        if b is not np.nan:
            b_lst = b.split(";")
            lst = np.union1d(a_lst, b_lst)
        # a is non-nan and b is nan
        else:
            lst = a_lst
        # cast into nparray into list
        opsys[i] = list(lst)

    else:
        if b is not np.nan:
            opsys[i] = b.split(";")
        # both a and b are nan
        else:
            opsys[i] = a


df['opsys_t'] = opsys

In [32]:
# multiple choice
df['LanguageHaveWorkedWith']

0                                                      NaN
1                                    JavaScript;TypeScript
2                        C#;C++;HTML/CSS;JavaScript;Python
3                             C#;JavaScript;SQL;TypeScript
4              C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript
                               ...
73263    Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...
73264            Bash/Shell;HTML/CSS;JavaScript;Python;SQL
73265                   HTML/CSS;JavaScript;PHP;Python;SQL
73266                                        C#;Delphi;VBA
73267          C#;JavaScript;Lua;PowerShell;SQL;TypeScript
Name: LanguageHaveWorkedWith, Length: 73268, dtype: object

In [33]:
# multiple choice
df['DatabaseHaveWorkedWith']

0                                                      NaN
1                                                      NaN
2                                     Microsoft SQL Server
3                                     Microsoft SQL Server
4        Cloud Firestore;Elasticsearch;Microsoft SQL Se...
                               ...
73263                 Elasticsearch;MySQL;PostgreSQL;Redis
73264                  Elasticsearch;MongoDB;Oracle;SQLite
73265    MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...
73266                  Microsoft SQL Server;MongoDB;Oracle
73267                     Microsoft SQL Server;Neo4j;Redis
Name: DatabaseHaveWorkedWith, Length: 73268, dtype: object

In [34]:
# multiple choice
df['PlatformHaveWorkedWith']

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                      Firebase;Microsoft Azure
                          ...
73263             AWS;DigitalOcean;Google Cloud
73264                                       NaN
73265    Managed Hosting;Microsoft Azure;VMware
73266                                       NaN
73267                           Microsoft Azure
Name: PlatformHaveWorkedWith, Length: 73268, dtype: object

In [35]:
# multiple choice
df['WebframeHaveWorkedWith']

0                                                 NaN
1                                                 NaN
2                                          Angular.js
3                               ASP.NET;ASP.NET Core
4        Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js
                             ...
73263                         Express;FastAPI;Node.js
73264                          FastAPI;Flask;React.js
73265                                ASP.NET;React.js
73266                                             NaN
73267    ASP.NET Core ;Blazor;Node.js;React.js;Svelte
Name: WebframeHaveWorkedWith, Length: 73268, dtype: object

In [36]:
# multiple choice
df['MiscTechHaveWorkedWith']

0                                                      NaN
1                                                      NaN
2                                                   Pandas
3                                                     .NET
4                                                     .NET
                               ...
73263                                              Flutter
73264    Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...
73265                             .NET;Pandas;React Native
73266                                                  NaN
73267                            Apache Kafka;Apache Spark
Name: MiscTechHaveWorkedWith, Length: 73268, dtype: object

In [37]:
# multiple choice
df['ToolsTechHaveWorkedWith']

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           npm
                          ...
73263            Docker;Homebrew;Kubernetes;npm
73264                                       NaN
73265                                       npm
73266                                       NaN
73267    Docker;Kubernetes;npm;Pulumi;Terraform
Name: ToolsTechHaveWorkedWith, Length: 73268, dtype: object

In [38]:
# multiple choice
df['OfficeStackAsyncHaveWorkedWith']

0                                                 NaN
1                                                 NaN
2                                                 NaN
3                         Jira Work Management;Trello
4                                                 NaN
                             ...
73263                            Jira Work Management
73264                                             NaN
73265                                 Microsoft Lists
73266                                             NaN
73267    Confluence;Jira Work Management;Trello;Wrike
Name: OfficeStackAsyncHaveWorkedWith, Length: 73268, dtype: object

In [39]:
# multiple choice
df['OfficeStackSyncHaveWorkedWith']

0                               NaN
1                               NaN
2                   Microsoft Teams
3                        Slack;Zoom
4              Microsoft Teams;Zoom
                    ...
73263                    Slack;Zoom
73264                    Rocketchat
73265          Microsoft Teams;Zoom
73266                          Zoom
73267    Microsoft Teams;Slack;Zoom
Name: OfficeStackSyncHaveWorkedWith, Length: 73268, dtype: object

Need to combine values in LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith and merge them into a new attribute called tools. If nan values are in all eight attributes, then drop that row.

In [40]:
# merge all eight attributes into one new attribute called 'tools' 
# and extract the row indexes that have nan values in all eight attributes
data_db = df['DatabaseHaveWorkedWith']
data_fw = df['WebframeHaveWorkedWith']
data_lang = df['LanguageHaveWorkedWith']
data_plat = df['PlatformHaveWorkedWith']
data_misc = df['MiscTechHaveWorkedWith']
data_tech = df['ToolsTechHaveWorkedWith']
data_a_office = df['OfficeStackAsyncHaveWorkedWith']
data_s_office = df['OfficeStackSyncHaveWorkedWith']
tools = pd.Series()
drop_lst = np.array([])
for i in range(len(df)):
    a = data_db[i]
    b = data_fw[i]
    c = data_lang[i]
    d = data_plat[i]
    e = data_misc[i]
    f = data_tech[i]
    g = data_a_office[i]
    h = data_s_office[i]

    a_lst = list()
    b_lst = list()
    c_lst = list()
    d_lst = list()
    e_lst = list()
    f_lst = list()
    g_lst = list()
    h_lst = list()

    if type(a) == str:
        a_lst = a.split(";")
    if type(b) == str:
        b_lst = b.split(";")
    if type(c) == str:
        c_lst = c.split(";")
    if type(d) == str:
        d_lst = d.split(";")
    if type(e) == str:
        e_lst = e.split(";")
    if type(f) == str:
        f_lst = f.split(";")
    if type(g) == str:
        g_lst = g.split(";")
    if type(h) == str:
        h_lst = h.split(";")

    # if eight attributes are all nan values, then add the row index into drop list    
    if len(a_lst) == 0 and len(b_lst) == 0 and len(c_lst) == 0 and len(d_lst) == 0 and len(e_lst) == 0 and len(f_lst) == 0 and len(g_lst) == 0 and len(h_lst) == 0 :
        tools[i] = np.nan
        drop_lst = np.append(drop_lst, i)
    else:
        tools[i] = a_lst + b_lst + c_lst + d_lst + e_lst + f_lst + g_lst + h_lst

# create new attribute tools
df['tools'] = tools

In [41]:
# drop the rows that have all nan values and create a new datatframe df2
print("Rows at these indexes have all nan value and need to be dropped \n "+str(drop_lst))
print("The total number of nan values in all eight attributes \n(LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith)"
      +" \n is "+str(len(drop_lst))+" which the proportion is "+str(len(drop_lst)/len(df)))
df2 = df.drop(index = drop_lst)

Rows at these indexes have all nan value and need to be dropped
 [0.0000e+00 3.0000e+01 8.6000e+01 ... 7.3201e+04 7.3215e+04 7.3243e+04]
The total number of nan values in all eight attributes
(LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith)
 is 1848 which the proportion is 0.025222470928645522

In [42]:
# show the number and proportion of nan values in yrs of coding/experience_range
df_yrs = df2['code_yrs']
print(df_yrs.value_counts())
c, r = count_nan(df_yrs)
print("The total number of nan values for experience_range is "+str(c)+" and the proportion is "+str(r))

code_yrs
11+ years       30246
6 - 10 years    20887
2 - 5 years     13735
0 - 2 years      6153
Name: count, dtype: int64
The total number of nan values for experience_range is 399 and the proportion is 0.005586670400448053

In [43]:
# show the number and proportion of nan values in occupation
df_occup = df2['devtyp_t']
print(df_occup.value_counts())
c, r = count_nan(df_occup)
print("The total number of nan values for Occupation is "+str(c)+" and the proportion is "+str(r))

devtyp_t
[Developer_full-stack]                                                                                                                                                                                7130
[Developer_back-end]                                                                                                                                                                                  5290
[Developer_front-end]                                                                                                                                                                                 2377
[Developer_front-end, Developer_full-stack, Developer_back-end]                                                                                                                                       1805
[Developer_full-stack, Developer_back-end]                                                                                                                                                            1531
                                                                                                                                                                                                      ...
[Engineer_data, Developer_full-stack, Scientist, Blockchain]                                                                                                                                             1
[Engineer_data, Developer_back-end, Developer_desktop or enterprise applications, Developer_QA or test, Database administrator, DevOps specialist, Data or business analyst]                             1
[Data scientist or machine learning specialist, Developer_front-end, Developer_full-stack, Developer_back-end, Developer_mobile, DevOps specialist, Cloud infrastructure engineer, Blockchain]           1
[Data scientist or machine learning specialist, Engineer_data, Developer_back-end, Engineering manager, Project manager, Cloud infrastructure engineer, Data or business analyst, Product manager]       1
[Developer_mobile, Database administrator]                                                                                                                                                               1
Name: count, Length: 9969, dtype: int64
The total number of nan values for Occupation is 10296 and the proportion is 0.1441612993559227

In [44]:
# show the number and proportion of nan values in desktop operation system
df_op = df2['opsys_t']
print(df_op.value_counts())
c, r = count_nan(df_op)
print("The total number of nan values for desktop systems is "+str(c)+" and the proportion is "+str(r))

opsys_t
[Windows]                                                                                    14023
[Linux-based, Windows]                                                                       10237
[macOS]                                                                                       7599
[Linux-based]                                                                                 7122
[Linux-based, Windows, Windows Subsystem for Linux (WSL)]                                     5834
                                                                                             ...
[macOS, Windows, Other (please specify):]                                                        1
[BSD, macOS, Windows, Windows Subsystem for Linux (WSL)]                                         1
[Other (please specify):, Windows Subsystem for Linux (WSL)]                                     1
[Linux-based, macOS, Windows, Windows Subsystem for Linux (WSL), Other (please specify):]        1
[BSD, Linux-based, Other (please specify):, Windows Subsystem for Linux (WSL), macOS]            1
Name: count, Length: 77, dtype: int64
The total number of nan values for desktop systems is 210 and the proportion is 0.002940352842341081

In [45]:
# show the number and proportion of nan values in Preferred text editor/dev environment
df_te = df2['ide_t']
print(df_te.value_counts())
c, r = count_nan(df_te)
print("The total number of nan values for Preferred text editor is "+str(c)+" and the proportion is "+str(r))

ide_t
[Visual Studio Code]                                                                                                                                                                              6727
[Visual Studio, Visual Studio Code]                                                                                                                                                               2929
[Notepad++, Visual Studio, Visual Studio Code]                                                                                                                                                    1959
[Vim, Visual Studio Code]                                                                                                                                                                         1432
[IntelliJ, Visual Studio Code]                                                                                                                                                                    1204
                                                                                                                                                                                                  ...
[Android Studio, Atom, Eclipse, IntelliJ, IPython/Jupyter, Nano, Visual Studio Code, Webstorm, Xcode]                                                                                                1
[Atom, Emacs, Webstorm]                                                                                                                                                                              1
[Android Studio, Eclipse, IntelliJ, Notepad++, PhpStorm, Visual Studio, Webstorm]                                                                                                                    1
[Android Studio, Atom, CLion, Eclipse, GoLand, IntelliJ, IPython/Jupyter, Nano, NetBeans, Notepad++, PhpStorm, PyCharm, Rider, Sublime Text, Vim, Visual Studio, Visual Studio Code, Webstorm]       1
[Atom, Notepad++, Vim, Visual Studio Code, Xcode]                                                                                                                                                    1
Name: count, Length: 15058, dtype: int64
The total number of nan values for Preferred text editor is 1143 and the proportion is 0.016003920470456456

In [46]:
# show the number and proportion of nan values in salary
df_salary = df2['salary_merge']
print(df_salary.value_counts())
c, r = count_nan(df_salary)
print("The total number of nan values for salary is "+str(c)+" and the proportion is "+str(r))

salary_merge
More than $160,000     5960
$40,000 - $60,000      5901
$20,000 - $40,000      5523
$60,000 - $80,000      5313
Less than $20,000      5303
$80,000 - $100,000     3545
$100,000 - $120,000    2670
$120,000 - $140,000    2088
$140,000 - $160,000    1745
Name: count, dtype: int64
The total number of nan values for salary is 33372 and the proportion is 0.4672640716886026

In [47]:
# show the number and proportion of nan values in education
df_edu = df2['edu_t']
print(df_edu.value_counts())
c, r = count_nan(df_edu)
print("The total number of nan values for education is "+str(c)+" and the proportion is "+str(r))

edu_t
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), School (i.e., University, College, etc)]                                                                                                                                               1886
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc)]                                                                                          1188
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc)]                                                                  1173
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), On the job training, Online Courses or Certification]            1154
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), Online Courses or Certification]                                 1053
                                                                                                                                                                                                                                      ...
[Primary/elementary school, Books / Physical media, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), Other (please specify):]                                                               1
[Professional degree (JD, MD, etc.), Other online resources (e.g., videos, blogs, forum), On the job training, Coding Bootcamp, Hackathons (virtual or in-person)]                                                                       1
[Master’s degree (M.A., M.S., M.Eng., MBA, etc.), Friend or family member, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), Online Courses or Certification, Other (please specify):]       1
[Other doctoral degree (Ph.D., Ed.D., etc.), Books / Physical media, Friend or family member, Other online resources (e.g., videos, blogs, forum), On the job training, Colleague]                                                       1
[Primary/elementary school, Books / Physical media, Friend or family member, On the job training, Colleague]                                                                                                                             1
Name: count, Length: 3425, dtype: int64
The total number of nan values for education is 71 and the proportion is 0.000994119294315318

In [48]:
# show the number and proportion of nan values in country
df_country = df2['Country']
print(df_country.value_counts())
c, r = count_nan(df_country)
print("The total number of nan values for Country is "+str(c)+" and the proportion is "+str(r))

Country
United States of America                                13504
India                                                    6567
Germany                                                  5390
United Kingdom of Great Britain and Northern Ireland     4182
Canada                                                   2477
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: count, Length: 180, dtype: int64
The total number of nan values for Country is 0 and the proportion is 0.0

In [49]:
# Comment out this block because it's too time consuming to run and does not reveal too much useful info

# show the number and proportion of nan values in tools
# df_tools = df2['tools']
# print(df_tools.value_counts())
# # c, r = count_nan(df_tools)
# print("The total number of nan values for tools is 0 and the proportion is 0")

In [50]:
# add year
df2['year'] = 2022

In [51]:
# drop unwanted attributes (drop compensation)
df3 = df2.loc[:,['devtyp_t', 'Country', 'edu_t','code_yrs','opsys_t','ide_t','year','tools']]
df3

,devtyp_t,Country,edu_t,code_yrs,opsys_t,ide_t,year,tools
1,NaN,Canada,NaN,NaN,"[Windows Subsystem for Linux (WSL), macOS]",NaN,2022,"[JavaScript, TypeScript]"
2,[Data scientist or machine learning specialist...,United Kingdom of Great Britain and Northern I...,"[Master’s degree (M.A., M.S., M.Eng., MBA, etc...",11+ years,[Windows],"[Notepad++, Visual Studio]",2022,"[Microsoft SQL Server, Angular.js, C#, C++, HT..."
3,[Developer_full-stack],Israel,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,[Windows],"[Notepad++, Visual Studio, Visual Studio Code]",2022,"[Microsoft SQL Server, ASP.NET, ASP.NET Core ,..."
4,"[Developer_front-end, Developer_full-stack, De...",United States of America,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",6 - 10 years,"[Windows, macOS]","[Notepad++, Visual Studio, Visual Studio Code,...",2022,"[Cloud Firestore, Elasticsearch, Microsoft SQL..."
5,NaN,Germany,"[Master’s degree (M.A., M.S., M.Eng., MBA, etc...",11+ years,"[Linux-based, macOS]","[Visual Studio Code, Xcode]",2022,"[C++, Lua, Homebrew, Confluence, Rocketchat, S..."
...,...,...,...,...,...,...,...,...
73263,[Developer_back-end],Nigeria,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",6 - 10 years,"[Linux-based, macOS]","[IPython/Jupyter, Sublime Text, Vim, Visual St...",2022,"[Elasticsearch, MySQL, PostgreSQL, Redis, Expr..."
73264,[Data scientist or machine learning specialist],United States of America,"[Master’s degree (M.A., M.S., M.Eng., MBA, etc...",6 - 10 years,"[Linux-based, Windows]","[IPython/Jupyter, Notepad++, Spyder, Vim, Visu...",2022,"[Elasticsearch, MongoDB, Oracle, SQLite, FastA..."
73265,"[Developer_full-stack, Developer_desktop or en...",United States of America,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,[Windows],"[Spyder, Visual Studio, Visual Studio Code]",2022,"[MariaDB, Microsoft SQL Server, MySQL, Postgre..."
73266,"[Developer_front-end, Developer_desktop or ent...",United Kingdom of Great Britain and Northern I...,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,[Windows],"[RAD Studio (Delphi, C++ Builder), Visual Studio]",2022,"[Microsoft SQL Server, MongoDB, Oracle, C#, De..."
73267,"[Developer_front-end, Engineer_data, Engineer_...",Canada,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[Linux-based, Windows]","[Visual Studio, Visual Studio Code]",2022,"[Microsoft SQL Server, Neo4j, Redis, ASP.NET C..."

In [52]:
# export df3
df3.to_csv("2022_df3.csv")

extract all of the languages in dataset

In [53]:
tools_dic = dict()

for i in df['LanguageHaveWorkedWith']:
    if type(i) == str:

        x = i.split(";")
    
        for j in x:
            if j not in tools_dic:
                tools_dic[j] = 1
            else:
                old = tools_dic[j]
                tools_dic[j] = old + 1


print(tools_dic)

print(tools_dic.keys())

{'JavaScript': 46443, 'TypeScript': 24752, 'C#': 19883, 'C++': 16024, 'HTML/CSS': 39142, 'Python': 34155, 'SQL': 35127, 'Swift': 3489, 'Lua': 2867, 'PHP': 14827, 'C': 13692, 'Java': 23644, 'Delphi': 2311, 'Bash/Shell': 20656, 'PowerShell': 8575, 'Rust': 6625, 'Elixir': 1528, 'Erlang': 641, 'Ruby': 4299, 'R': 3308, 'Scala': 1837, 'VBA': 3185, 'Dart': 4648, 'Go': 7922, 'Kotlin': 6507, 'Groovy': 2357, 'MATLAB': 2913, 'Perl': 1644, 'Haskell': 1577, 'Julia': 1084, 'LISP': 932, 'Assembly': 3887, 'F#': 730, 'Clojure': 1070, 'APL': 504, 'Crystal': 340, 'Fortran': 646, 'Objective-C': 1698, 'SAS': 435, 'OCaml': 422, 'Solidity': 1031, 'COBOL': 464}
dict_keys(['JavaScript', 'TypeScript', 'C#', 'C++', 'HTML/CSS', 'Python', 'SQL', 'Swift', 'Lua', 'PHP', 'C', 'Java', 'Delphi', 'Bash/Shell', 'PowerShell', 'Rust', 'Elixir', 'Erlang', 'Ruby', 'R', 'Scala', 'VBA', 'Dart', 'Go', 'Kotlin', 'Groovy', 'MATLAB', 'Perl', 'Haskell', 'Julia', 'LISP', 'Assembly', 'F#', 'Clojure', 'APL', 'Crystal', 'Fortran', 'Objective-C', 'SAS', 'OCaml', 'Solidity', 'COBOL'])

Languages:

'JavaScript', 'TypeScript', 'C#', 'C++', 'HTML/CSS', 'Python', 'SQL', 'Swift', 'Lua', 'PHP', 'C', 'Java', 'Delphi', 'Bash/Shell', 'PowerShell', 'Rust', 'Elixir', 'Erlang', 'Ruby', 'R', 'Scala', 'VBA', 'Dart', 'Go', 'Kotlin', 'Groovy', 'MATLAB', 'Perl', 'Haskell', 'Julia', 'LISP', 'Assembly', 'F#', 'Clojure', 'APL', 'Crystal', 'Fortran', 'Objective-C', 'SAS', 'OCaml', 'Solidity', 'COBOL'