In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
# this method loops thru every value of the given pandas series and calculates
# the total number of nan values and the fraction of 
# the total number of nan values / the total values in series 
def count_nan(series):
    count = 0
    for i in series:
        if i is np.nan:
            count += 1
    return count, count/len(series)

In [20]:
# this method transforms a string that contains different values separated by
# a semicolon and a space(;) of a given attribute in a given dataframe into a list and 
# returns in the pandas series format and a nparray that contains the indexes of rows that
# has nan 
def merge_str_list(df, attr_name):
    drop_lst = np.array([])
    result = pd.Series()
    for i in range(df.shape[0]):
        data = df[attr_name][i]
        # if string value, extract all values into a list
        if type(data) == str:
            result[i] = data.split(';')
        # if not string value, then add the index into drop_lst
        else:
            drop_lst = np.append(drop_lst, i)
            result[i] = data
    
    return result, drop_lst

In [21]:
# read csv
df = pd.read_csv("2024 survey_results_public.csv")
df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# print out all attributes
total_attributes = df.columns
for i in total_attributes:
    print(i)

ResponseId
MainBranch
Age
Employment
RemoteWork
Check
CodingActivities
EdLevel
LearnCode
LearnCodeOnline
TechDoc
YearsCode
YearsCodePro
DevType
OrgSize
PurchaseInfluence
BuyNewTool
BuildvsBuy
TechEndorse
Country
Currency
CompTotal
LanguageHaveWorkedWith
LanguageWantToWorkWith
LanguageAdmired
DatabaseHaveWorkedWith
DatabaseWantToWorkWith
DatabaseAdmired
PlatformHaveWorkedWith
PlatformWantToWorkWith
PlatformAdmired
WebframeHaveWorkedWith
WebframeWantToWorkWith
WebframeAdmired
EmbeddedHaveWorkedWith
EmbeddedWantToWorkWith
EmbeddedAdmired
MiscTechHaveWorkedWith
MiscTechWantToWorkWith
MiscTechAdmired
ToolsTechHaveWorkedWith
ToolsTechWantToWorkWith
ToolsTechAdmired
NEWCollabToolsHaveWorkedWith
NEWCollabToolsWantToWorkWith
NEWCollabToolsAdmired
OpSysPersonal use
OpSysProfessional use
OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncWantToWorkWith
OfficeStackAsyncAdmired
OfficeStackSyncHaveWorkedWith
OfficeStackSyncWantToWorkWith
OfficeStackSyncAdmired
AISearchDevHaveWorkedWith
AISearchDevWantToWorkWith
AISearchDevAdmired
NEWSOSites
SOVisitFreq
SOAccount
SOPartFreq
SOHow
SOComm
AISelect
AISent
AIBen
AIAcc
AIComplex
AIToolCurrently Using
AIToolInterested in Using
AIToolNot interested in Using
AINextMuch more integrated
AINextNo change
AINextMore integrated
AINextLess integrated
AINextMuch less integrated
AIThreat
AIEthics
AIChallenges
TBranch
ICorPM
WorkExp
Knowledge_1
Knowledge_2
Knowledge_3
Knowledge_4
Knowledge_5
Knowledge_6
Knowledge_7
Knowledge_8
Knowledge_9
Frequency_1
Frequency_2
Frequency_3
TimeSearching
TimeAnswering
Frustration
ProfessionalTech
ProfessionalCloud
ProfessionalQuestion
Industry
JobSatPoints_1
JobSatPoints_4
JobSatPoints_5
JobSatPoints_6
JobSatPoints_7
JobSatPoints_8
JobSatPoints_9
JobSatPoints_10
JobSatPoints_11
SurveyLength
SurveyEase
ConvertedCompYearly
JobSat

In [23]:
df['YearsCode'].unique()

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8',
       'More than 50 years', '11', '29', '40', '39', '2', '42', '34',
       '19', '35', '16', '33', '13', '23', '14', '28', '17', '21', '43',
       '46', '26', '32', '41', '45', '27', '38', '50', '48', '47',
       'Less than 1 year', '49'], dtype=object)

Need to change the years program into the following range

Old value                                                  => New value

x <= 2           => 0 - 2 years
 
2 < x <= 5       => 2 - 5 years

6 <= x <= 10     => 6 - 10 years

x > 10           => 11+ years

In [24]:
# transfer to bin size and create a new attribute 'code_yrs'
data = df['YearsCode']
code_yrs = pd.Series()
for i in range(len(data)):
    a = data[i]
    
    if a == "Less than 1 year":
        code_yrs[i] = "0 - 2 years"
    elif a == "More than 50 years":
        code_yrs[i] = "11+ years"
    elif type(a) == float:
        code_yrs[i] = a
    else:
        a_int = int(a)
        if a_int <= 2:
            code_yrs[i] = "0 - 2 years"
        elif a_int > 2 and a_int <= 5 :
            code_yrs[i] = "2 - 5 years"
        elif a_int >= 6 and a_int <= 10:
            code_yrs[i] = "6 - 10 years"
        elif a_int > 10:
            code_yrs[i] = "11+ years"

# create a new attribute
df['code_yrs'] = code_yrs

In [25]:
df['ConvertedCompYearly'].value_counts()

ConvertedCompYearly
64444.0     321
53703.0     308
75184.0     230
85925.0     226
107406.0    208
           ...
82081.0       1
47715.0       1
44123.0       1
1741.0        1
637.0         1
Name: count, Length: 6113, dtype: int64

Transform float values of Salary into ranges as below:

Less than $20,000         
$20,000 - $40,000          
$40,000 - $60,000          
$60,000 - $80,000          
$80,000 - $100,000         
$100,000 - $120,000        
$120,000 - $140,000                
$140,000 - $160,000        
More than $160,000   
Rather not say             
Unemployed 
Other (please specify)      

There will be no values for Rather not say, Unemployed and Other

In [26]:
# this transform the values of salary into the same bin size as previous surveys and create a new attribute salary_merge
salary_merge = pd.Series()
data = df['ConvertedCompYearly']
for i in range(len(data)):
    if data[i] < 20000:
        salary_merge[i] = "Less than $20,000"
    elif data[i] >= 20000 and data[i] < 40000:
        salary_merge[i] = "$20,000 - $40,000"
    elif data[i] >= 40000 and data[i] < 60000:
        salary_merge[i] = "$40,000 - $60,000"
    elif data[i] >= 60000 and data[i] < 80000:
        salary_merge[i] = "$60,000 - $80,000"
    elif data[i] >= 80000 and data[i] < 100000:
        salary_merge[i] = "$80,000 - $100,000"
    elif data[i] >= 100000 and data[i] < 120000:
        salary_merge[i] = "$100,000 - $120,000"
    elif data[i] >= 120000 and data[i] < 140000:
        salary_merge[i] = "$120,000 - $140,000"
    elif data[i] >= 140000 and data[i] < 160000:
        salary_merge[i] = "$140,000 - $160,000"
    elif data[i] >= 160000:
        salary_merge[i] = "More than $160,000"
    # if nan, the transformed data is still nan
    elif np.isnan(data[i]):
        salary_merge[i] = np.nan

df['salary_merge'] = salary_merge

In [27]:
# transform df['DevType'] into a new attribute devtyp_t

df['devtyp_t'] = df['DevType'].replace("Developer, full-stack","Developer_full-stack").replace("Developer, front-end","Developer_front-end").replace("Developer, back-end","Developer_back-end").replace("Developer, desktop or enterprise applications","Developer_desktop or enterprise applications").replace("Developer, embedded applications or devices","Developer_embedded applications or devices").replace("Developer, game or graphics","Developer_game or graphics").replace("Developer, mobile","Developer_mobile").replace("Developer, QA or test","Developer_QA or test").replace("Engineer, data","Engineer_data").replace("Engineer, site reliability","Engineer_site reliability").replace("Senior Executive (C-Suite, VP, etc.)","Senior Executive (C-Suite/VP/etc.)").replace("Developer, AI", "Developer_AI")


# also replace "Developer, full-stack" to "Developer_full-stack"
# replace "Developer, front-end" to "Developer_front-end"
# replace "Developer, back-end" to "Developer_back-end"
# replace "Developer, desktop or enterprise applications" to "Developer_desktop or enterprise applications"
# replace "Developer, embedded applications or devices" to "Developer_embedded applications or devices"
# replace "Developer, game or graphics" to "Developer_game or graphics"
# replace "Developer, mobile" to "Developer_mobile"
# replace "Developer, QA or test" to "Developer_QA or test"
# replace "Engineer, data" to "Engineer_data"
# replace "Engineer, site reliability" to "Engineer_site reliability"
# replace "Senior Executive (C-Suite, VP, etc.)" to "Senior Executive (C-Suite, VP, etc.)"
# replace "Developer, AI" to "Developer_AI"

In [28]:
df['NEWCollabToolsHaveWorkedWith']

0                                        NaN
1        PyCharm;Visual Studio Code;WebStorm
2                              Visual Studio
3                                        NaN
4                                        Vim
                        ...
65432                                    NaN
65433                                    NaN
65434                                    NaN
65435                 Vim;Visual Studio Code
65436                     Visual Studio Code
Name: NEWCollabToolsHaveWorkedWith, Length: 65437, dtype: object

Transform df['NEWCollabToolsHaveWorkedWith'] into list and create a new attribute ide_t

In [29]:
# transform df['NEWCollabToolsHaveWorkedWith'] into list and create a new attribute ide_t
df['ide_t'], _ = merge_str_list(df, 'NEWCollabToolsHaveWorkedWith')

In [30]:
# single choice
df['EdLevel']

0                                Primary/elementary school
1             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3        Some college/university study without earning ...
4        Secondary school (e.g. American high school, G...
                               ...
65432         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                  NaN
65434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435    Secondary school (e.g. American high school, G...
65436                                                  NaN
Name: EdLevel, Length: 65437, dtype: object

In [31]:
# multiple choice
df['LearnCode']

0                                   Books / Physical media
1        Books / Physical media;Colleague;On the job tr...
2        Books / Physical media;Colleague;On the job tr...
3        Other online resources (e.g., videos, blogs, f...
4        Other online resources (e.g., videos, blogs, f...
                               ...
65432    On the job training;School (i.e., University, ...
65433                                                  NaN
65434    Other online resources (e.g., videos, blogs, f...
65435    On the job training;Other online resources (e....
65436                                                  NaN
Name: LearnCode, Length: 65437, dtype: object

Merge df['EdLevel']and df['LearnCode'] into a new attribute called 'edu_t'

In [32]:
# Merge df['EdLevel']and df['LearnCode'] into a new attribute called 'edu_t'
data_formal = df['EdLevel']
data_learn = df['LearnCode']
edu_t = pd.Series()

for i in range(len(df)):
    a = data_formal[i]
    c = data_learn[i]
    lst = list()

    if a is not np.nan:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
        edu_t[i] = lst
    else:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
            
            edu_t[i] = lst
        else:
            edu_t[i] = a
    

df['edu_t'] = edu_t

In [33]:
# multiple choice
df['OpSysProfessional use']

0                                    NaN
1                                  MacOS
2                                Windows
3                                    NaN
4                                    NaN
                      ...
65432                                NaN
65433                                NaN
65434                                NaN
65435    Fedora;Other Linux-based;Ubuntu
65436                      MacOS;Windows
Name: OpSysProfessional use, Length: 65437, dtype: object

In [34]:
# multiple choice
df['OpSysPersonal use']

0                                             NaN
1                                   MacOS;Windows
2                                         Windows
3                                             NaN
4                         Other (please specify):
                           ...
65432                                         NaN
65433                                         NaN
65434                                         NaN
65435    Android;Other Linux-based;Ubuntu;Windows
65436                                     Windows
Name: OpSysPersonal use, Length: 65437, dtype: object

Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t

In [35]:
# Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t
opsys = pd.Series()
data_per = df['OpSysPersonal use']
data_pro = df['OpSysProfessional use']
for i in range(len(data_per)):
    lst = list()
    a = data_per[i]
    b = data_pro[i]
    if a is not np.nan:
        a_lst = a.split(";")
        # a and b are not nan
        if b is not np.nan:
            b_lst = b.split(";")
            lst = np.union1d(a_lst, b_lst)
        # a is non-nan and b is nan
        else:
            lst = a_lst
        # cast into nparray into list
        opsys[i] = list(lst)

    else:
        if b is not np.nan:
            opsys[i] = b.split(";")
        # both a and b are nan
        else:
            opsys[i] = a


df['opsys_t'] = opsys

In [36]:
# multiple choice
df['LanguageHaveWorkedWith']

0                                                      NaN
1        Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...
2                                                       C#
3        C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...
4                  C++;HTML/CSS;JavaScript;Lua;Python;Rust
                               ...
65432                                                  NaN
65433                                                  NaN
65434                                                  NaN
65435             C;C++;Go;Lua;Objective-C;Python;Rust;SQL
65436     C;HTML/CSS;Java;JavaScript;PHP;Python;TypeScript
Name: LanguageHaveWorkedWith, Length: 65437, dtype: object

In [37]:
# multiple choice
df['DatabaseHaveWorkedWith']

0                                    NaN
1            Dynamodb;MongoDB;PostgreSQL
2             Firebase Realtime Database
3        MongoDB;MySQL;PostgreSQL;SQLite
4                      PostgreSQL;SQLite
                      ...
65432                                NaN
65433                                NaN
65434                                NaN
65435                  PostgreSQL;SQLite
65436    MongoDB;MySQL;Oracle;PostgreSQL
Name: DatabaseHaveWorkedWith, Length: 65437, dtype: object

In [38]:
# multiple choice
df['PlatformHaveWorkedWith']

0                                                      NaN
1                 Amazon Web Services (AWS);Heroku;Netlify
2                                             Google Cloud
3                  Amazon Web Services (AWS);Fly.io;Heroku
4                                                      NaN
                               ...
65432                                                  NaN
65433                                                  NaN
65434                                                  NaN
65435                                                  NaN
65436    Amazon Web Services (AWS);Cloudflare;Google Cl...
Name: PlatformHaveWorkedWith, Length: 65437, dtype: object

In [39]:
# multiple choice
df['WebframeHaveWorkedWith']

0                                                NaN
1                      Express;Next.js;Node.js;React
2                                       ASP.NET CORE
3             jQuery;Next.js;Node.js;React;WordPress
4                                                NaN
                            ...
65432                                            NaN
65433                                            NaN
65434                                            NaN
65435                          Angular;Node.js;React
65436    Django;Express;jQuery;Next.js;Node.js;React
Name: WebframeHaveWorkedWith, Length: 65437, dtype: object

In [40]:
# multiple choice
df['EmbeddedHaveWorkedWith']

0                                            NaN
1                                            NaN
2                                    Rasberry Pi
3                                    Rasberry Pi
4                        CMake;Cargo;Rasberry Pi
                          ...
65432                                        NaN
65433                                        NaN
65434                                        NaN
65435    Arduino;CMake;Cargo;GNU GCC;Rasberry Pi
65436                                        NaN
Name: EmbeddedHaveWorkedWith, Length: 65437, dtype: object

In [41]:
# multiple choice
df['MiscTechHaveWorkedWith']

0                                                    NaN
1                                                    NaN
2        .NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI
3                           NumPy;Pandas;Ruff;TensorFlow
4                                                    NaN
                              ...
65432                                                NaN
65433                                                NaN
65434                                                NaN
65435                                         GTK;OpenGL
65436                                                NaN
Name: MiscTechHaveWorkedWith, Length: 65437, dtype: object

In [42]:
# multiple choice
df['ToolsTechHaveWorkedWith']

0                                                NaN
1        Docker;Homebrew;Kubernetes;npm;Vite;Webpack
2                                            MSBuild
3                                     Docker;npm;Pip
4                                       APT;Make;npm
                            ...
65432                                            NaN
65433                                            NaN
65434                                            NaN
65435         Ansible;APT;Docker;Make;npm;Pip;Podman
65436                                   npm;Pip;Vite
Name: ToolsTechHaveWorkedWith, Length: 65437, dtype: object

In [43]:
# multiple choice
df['OfficeStackAsyncHaveWorkedWith']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4        GitHub Discussions;Markdown File;Obsidian;Stac...
                               ...
65432                                                  NaN
65433                                                  NaN
65434                                                  NaN
65435        Confluence;Jira;Markdown File;Obsidian;Trello
65436                                                  NaN
Name: OfficeStackAsyncHaveWorkedWith, Length: 65437, dtype: object

In [44]:
# multiple choice
df['OfficeStackSyncHaveWorkedWith']

0                                                 NaN
1                               Microsoft Teams;Slack
2        Google Chat;Google Meet;Microsoft Teams;Zoom
3                                                 NaN
4                                    Discord;Whatsapp
                             ...
65432                                             NaN
65433                                             NaN
65434                                             NaN
65435          Discord;Jitsi;Microsoft Teams;Whatsapp
65436                                             NaN
Name: OfficeStackSyncHaveWorkedWith, Length: 65437, dtype: object

In [45]:
# multiple choice
df['AISearchDevHaveWorkedWith']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
65432    NaN
65433    NaN
65434    NaN
65435    NaN
65436    NaN
Name: AISearchDevHaveWorkedWith, Length: 65437, dtype: object

Need to combine values in LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, EmbeddedHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith and AISearchDevHaveWorkedWith and merge them into a new attribute called tools. If nan values are in all 10 attributes, then drop that row.

In [46]:
# merge all 10 attributes into one new attribute called 'tools' 
# and extract the row indexes that have nan values in all 10 attributes
data_db = df['DatabaseHaveWorkedWith']
data_fw = df['WebframeHaveWorkedWith']
data_lang = df['LanguageHaveWorkedWith']
data_plat = df['PlatformHaveWorkedWith']
data_misc = df['MiscTechHaveWorkedWith']
data_tech = df['ToolsTechHaveWorkedWith']
data_a_office = df['OfficeStackAsyncHaveWorkedWith']
data_s_office = df['OfficeStackSyncHaveWorkedWith']
data_ai = df['AISearchDevHaveWorkedWith']
data_embed = df['EmbeddedHaveWorkedWith']
tools = pd.Series()
drop_lst = np.array([])
for i in range(len(df)):
    a = data_db[i]
    b = data_fw[i]
    c = data_lang[i]
    d = data_plat[i]
    e = data_misc[i]
    f = data_tech[i]
    g = data_a_office[i]
    h = data_s_office[i]
    x = data_ai[i]
    y = data_embed[i]

    a_lst = list()
    b_lst = list()
    c_lst = list()
    d_lst = list()
    e_lst = list()
    f_lst = list()
    g_lst = list()
    h_lst = list()
    x_lst = list()
    y_lst = list()

    if type(a) == str:
        a_lst = a.split(";")
    if type(b) == str:
        b_lst = b.split(";")
    if type(c) == str:
        c_lst = c.split(";")
    if type(d) == str:
        d_lst = d.split(";")
    if type(e) == str:
        e_lst = e.split(";")
    if type(f) == str:
        f_lst = f.split(";")
    if type(g) == str:
        g_lst = g.split(";")
    if type(h) == str:
        h_lst = h.split(";")
    if type(x) == str:
        x_lst = x.split(";")
    if type(y) == str:
        y_lst = y.split(";")

    # if 10 attributes are all nan values, then add the row index into drop list    
    if len(a_lst) == 0 and len(b_lst) == 0 and len(c_lst) == 0 and len(d_lst) == 0 and len(e_lst) == 0 and len(f_lst) == 0 and len(g_lst) == 0 and len(x_lst) == 0 and len(y_lst) == 0 :
        tools[i] = np.nan
        drop_lst = np.append(drop_lst, i)
    else:
        tools[i] = a_lst + b_lst + c_lst + d_lst + e_lst + f_lst + g_lst + h_lst + x_lst + y_lst

# create new attribute tools
df['tools'] = tools

In [47]:
# drop the rows that have all nan values and create a new datatframe df2
print("Rows at these indexes have all nan value and need to be dropped \n "+str(drop_lst))
print("The total number of nan values in all 10 attributes \n(LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, EmbeddedHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith and AISearchDevHaveWorkedWith)"
      +" \n is "+str(len(drop_lst))+" which the proportion is "+str(len(drop_lst)/len(df)))
df2 = df.drop(index = drop_lst)

Rows at these indexes have all nan value and need to be dropped
 [    0.    70.   267. ... 65432. 65433. 65434.]
The total number of nan values in all 10 attributes
(LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, EmbeddedHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith and OfficeStackSyncHaveWorkedWith and AISearchDevHaveWorkedWith)
 is 5287 which the proportion is 0.08079526873175727

In [48]:
# show the number and proportion of nan values in yrs of coding/experience_range
df_yrs = df2['code_yrs']
print(df_yrs.value_counts())
c, r = count_nan(df_yrs)
print("The total number of nan values for experience_range is "+str(c)+" and the proportion is "+str(r))

code_yrs
11+ years       29656
6 - 10 years    16546
2 - 5 years      9123
0 - 2 years      2715
Name: count, dtype: int64
The total number of nan values for experience_range is 2110 and the proportion is 0.03507896924355777

In [49]:
# show the number and proportion of nan values in occupation
df_occup = df2['devtyp_t']
print(df_occup.value_counts())
c, r = count_nan(df_occup)
print("The total number of nan values for Occupation is "+str(c)+" and the proportion is "+str(r))

devtyp_t
Developer_full-stack                             17776
Developer_back-end                                9638
Student                                           4962
Developer_front-end                               3237
Developer_desktop or enterprise applications      2433
Other (please specify):                           2357
Developer_mobile                                  1959
Developer_embedded applications or devices        1593
Engineering manager                               1250
Academic researcher                               1193
Data engineer                                     1091
DevOps specialist                                  996
Data scientist or machine learning specialist      995
Research & Development role                        917
Senior Executive (C-Suite/VP/etc.)                 817
Developer_game or graphics                         691
Cloud infrastructure engineer                      614
System administrator                               525
Developer_AI                                       509
Data or business analyst                           506
Developer_QA or test                               505
Project manager                                    404
Educator                                           349
Security professional                              348
Scientist                                          323
Engineer_site reliability                          303
Product manager                                    284
Blockchain                                         224
Developer Experience                               217
Hardware Engineer                                  194
Designer                                           173
Database administrator                             165
Developer Advocate                                 103
Marketing or sales professional                     92
Name: count, dtype: int64
The total number of nan values for Occupation is 2407 and the proportion is 0.0400166251039069

In [50]:
# show the number and proportion of nan values in desktop operation system
df_op = df2['opsys_t']
print(df_op.value_counts())
c, r = count_nan(df_op)
print("The total number of nan values for desktop systems is "+str(c)+" and the proportion is "+str(r))

opsys_t
[Windows]                                                                                          8031
[MacOS]                                                                                            5006
[Ubuntu, Windows]                                                                                  2655
[MacOS, Windows]                                                                                   2475
[Windows, Windows Subsystem for Linux (WSL)]                                                       2161
                                                                                                   ...
[Android, Cygwin, Debian, MacOS, Windows, Windows Subsystem for Linux (WSL)]                          1
[AIX, Android, ChromeOS, Other Linux-based, Ubuntu, Windows, Windows Subsystem for Linux (WSL)]       1
[Cygwin, MacOS, Red Hat, Windows, Windows Subsystem for Linux (WSL)]                                  1
[BSD, Debian, Other Linux-based, Red Hat, Ubuntu, Windows]                                            1
[Cygwin, Debian, MacOS, Ubuntu]                                                                       1
Name: count, Length: 3608, dtype: int64
The total number of nan values for desktop systems is 1720 and the proportion is 0.028595178719866998

In [51]:
# show the number and proportion of nan values in Preferred text editor/dev environment
df_te = df2['ide_t']
print(df_te.value_counts())
c, r = count_nan(df_te)
print("The total number of nan values for Preferred text editor is "+str(c)+" and the proportion is "+str(r))

ide_t
[Visual Studio Code]                                                                          6150
[Visual Studio, Visual Studio Code]                                                           2546
[Notepad++, Visual Studio, Visual Studio Code]                                                1542
[IntelliJ IDEA, Visual Studio Code]                                                           1169
[Vim, Visual Studio Code]                                                                     1045
                                                                                              ...
[Android Studio, CLion, IntelliJ IDEA, PhpStorm, Rider, Visual Studio, Visual Studio Code]       1
[Eclipse, Netbeans, Visual Studio, Visual Studio Code, WebStorm]                                 1
[Nano, Rider, Sublime Text, Visual Studio Code, Xcode]                                           1
[DataGrip, Eclipse, IntelliJ IDEA, Notepad++, Visual Studio, Visual Studio Code]                 1
[Android Studio, Helix, Xcode]                                                                   1
Name: count, Length: 14163, dtype: int64
The total number of nan values for Preferred text editor is 2584 and the proportion is 0.042959268495428096

In [52]:
# show the number and proportion of nan values in salary
df_salary = df2['salary_merge']
print(df_salary.value_counts())
c, r = count_nan(df_salary)
print("The total number of nan values for salary is "+str(c)+" and the proportion is "+str(r))

salary_merge
Less than $20,000      3874
$40,000 - $60,000      3689
$60,000 - $80,000      3405
$20,000 - $40,000      3066
More than $160,000     2717
$80,000 - $100,000     2550
$100,000 - $120,000    1847
$120,000 - $140,000    1303
$140,000 - $160,000     951
Name: count, dtype: int64
The total number of nan values for salary is 36748 and the proportion is 0.6109393183707398

In [53]:
# show the number and proportion of nan values in education
df_edu = df2['edu_t']
print(df_edu.value_counts())
c, r = count_nan(df_edu)
print("The total number of nan values for education is "+str(c)+" and the proportion is "+str(r))

edu_t
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum, online community)]                                                                                                                           1095
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum, online community), School (i.e., University, College, etc)]                                                                                   982
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, On the job training, Other online resources (e.g., videos, blogs, forum, online community), School (i.e., University, College, etc), Online Courses or Certification]     862
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Other online resources (e.g., videos, blogs, forum, online community), Online Courses or Certification]                                                                   816
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum, online community), Online Courses or Certification]                                                                                           815
                                                                                                                                                                                                                                                ...
[Primary/elementary school, Colleague, Other online resources (e.g., videos, blogs, forum, online community), School (i.e., University, College, etc), Online Courses or Certification, Coding Bootcamp, Friend or family member]                  1
[Associate degree (A.A., A.S., etc.), On the job training, School (i.e., University, College, etc), Other (please specify):]                                                                                                                       1
[Professional degree (JD, MD, Ph.D, Ed.D, etc.), Books / Physical media, Colleague, On the job training, Other online resources (e.g., videos, blogs, forum, online community), School (i.e., University, College, etc), Coding Bootcamp]          1
[Master’s degree (M.A., M.S., M.Eng., MBA, etc.), Books / Physical media, On the job training, Friend or family member, Other (please specify):]                                                                                                   1
[Primary/elementary school, Coding Bootcamp, Friend or family member]                                                                                                                                                                              1
Name: count, Length: 2050, dtype: int64
The total number of nan values for education is 1702 and the proportion is 0.02829592684954281

In [54]:
# show the number and proportion of nan values in country
df_country = df2['Country']
print(df_country.value_counts())
c, r = count_nan(df_country)
print("The total number of nan values for Country is "+str(c)+" and the proportion is "+str(r))

Country
United States of America                                10938
Germany                                                  4896
India                                                    4098
United Kingdom of Great Britain and Northern Ireland     3191
Ukraine                                                  2650
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64
The total number of nan values for Country is 2107 and the proportion is 0.03502909393183708

In [55]:
# Comment out this block because it's too time consuming to run and does not reveal too much useful info

# show the number and proportion of nan values in tools
# df_tools = df2['tools']
# print(df_tools.value_counts())
# c, r = count_nan(df_tools)
# print("The total number of nan values for tools is 0 and the proportion is 0")

In [56]:
# add year
df2['year'] = 2024

In [57]:
# drop unwanted attributes (drop compensation)
df3 = df2.loc[:,['devtyp_t', 'Country', 'edu_t','code_yrs','opsys_t','ide_t','year','tools']]
df3

,devtyp_t,Country,edu_t,code_yrs,opsys_t,ide_t,year,tools
1,Developer_full-stack,United Kingdom of Great Britain and Northern I...,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[MacOS, Windows]","[PyCharm, Visual Studio Code, WebStorm]",2024,"[Dynamodb, MongoDB, PostgreSQL, Express, Next...."
2,Developer Experience,United Kingdom of Great Britain and Northern I...,"[Master’s degree (M.A., M.S., M.Eng., MBA, etc...",11+ years,[Windows],[Visual Studio],2024,"[Firebase Realtime Database, ASP.NET CORE, C#,..."
3,Developer_full-stack,Canada,[Some college/university study without earning...,2 - 5 years,NaN,NaN,2024,"[MongoDB, MySQL, PostgreSQL, SQLite, jQuery, N..."
4,Developer_full-stack,Norway,"[Secondary school (e.g. American high school, ...",6 - 10 years,[Other (please specify):],[Vim],2024,"[PostgreSQL, SQLite, C++, HTML/CSS, JavaScript..."
5,Student,United States of America,"[Primary/elementary school, School (i.e., Univ...",6 - 10 years,"[iOS, MacOS, Ubuntu]","[Nano, Vim, Visual Studio Code, Xcode]",2024,"[Cloud Firestore, Node.js, Bash/Shell (all she..."
...,...,...,...,...,...,...,...,...
65421,NaN,NaN,NaN,NaN,"[Ubuntu, Windows]","[Sublime Text, Visual Studio Code]",2024,"[PostgreSQL, FastAPI, Bash/Shell (all shells),..."
65427,NaN,NaN,NaN,NaN,NaN,NaN,2024,"[Microsoft SQL Server, MySQL, PostgreSQL, MATL..."
65431,Developer_full-stack,Belgium,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[Cygwin, Debian, MacOS, Other Linux-based, Ubu...","[DataGrip, IntelliJ IDEA, PyCharm, Rider, Subl...",2024,"[Couch DB, H2, Microsoft SQL Server, MySQL, Or..."
65435,Developer_back-end,Germany,"[Secondary school (e.g. American high school, ...",2 - 5 years,"[Android, Fedora, Other Linux-based, Ubuntu, W...","[Vim, Visual Studio Code]",2024,"[PostgreSQL, SQLite, Angular, Node.js, React, ..."
65436,NaN,NaN,NaN,NaN,"[MacOS, Windows]",[Visual Studio Code],2024,"[MongoDB, MySQL, Oracle, PostgreSQL, Django, E..."

In [58]:
# export df3
df3.to_csv("2024_df3.csv")

extract all of the languages in dataset

In [59]:
tools_dic = dict()

for i in df['LanguageHaveWorkedWith']:
    if type(i) == str:

        x = i.split(";")
    
        for j in x:
            if j not in tools_dic:
                tools_dic[j] = 1
            else:
                old = tools_dic[j]
                tools_dic[j] = old + 1


print(tools_dic)

print(tools_dic.keys())

{'Bash/Shell (all shells)': 20412, 'Go': 8103, 'HTML/CSS': 31816, 'Java': 18239, 'JavaScript': 37492, 'Python': 30719, 'TypeScript': 23150, 'C#': 16318, 'C': 12184, 'C++': 13827, 'PHP': 10951, 'PowerShell': 8328, 'SQL': 30682, 'Lua': 3728, 'Rust': 7559, 'Swift': 2829, 'R': 2595, 'Ruby': 3147, 'Delphi': 1073, 'VBA': 2248, 'Visual Basic (.Net)': 2499, 'F#': 512, 'Clojure': 737, 'Scala': 1547, 'Perl': 1482, 'MATLAB': 2378, 'OCaml': 458, 'Assembly': 3233, 'Dart': 3594, 'Fortran': 665, 'Julia': 684, 'Crystal': 253, 'Kotlin': 5665, 'Lisp': 889, 'Prolog': 486, 'Haskell': 1193, 'Ada': 542, 'Elixir': 1243, 'Erlang': 522, 'Groovy': 2004, 'Zig': 667, 'GDScript': 1402, 'MicroPython': 942, 'Objective-C': 1283, 'Cobol': 413, 'Nim': 210, 'Apex': 502, 'Solidity': 644, 'Zephyr': 184}
dict_keys(['Bash/Shell (all shells)', 'Go', 'HTML/CSS', 'Java', 'JavaScript', 'Python', 'TypeScript', 'C#', 'C', 'C++', 'PHP', 'PowerShell', 'SQL', 'Lua', 'Rust', 'Swift', 'R', 'Ruby', 'Delphi', 'VBA', 'Visual Basic (.Net)', 'F#', 'Clojure', 'Scala', 'Perl', 'MATLAB', 'OCaml', 'Assembly', 'Dart', 'Fortran', 'Julia', 'Crystal', 'Kotlin', 'Lisp', 'Prolog', 'Haskell', 'Ada', 'Elixir', 'Erlang', 'Groovy', 'Zig', 'GDScript', 'MicroPython', 'Objective-C', 'Cobol', 'Nim', 'Apex', 'Solidity', 'Zephyr'])

Languages:

'Bash/Shell (all shells)', 'Go', 'HTML/CSS', 'Java', 'JavaScript', 'Python', 'TypeScript', 'C#', 'C', 'C++', 'PHP', 'PowerShell', 'SQL', 'Lua', 'Rust', 'Swift', 'R', 'Ruby', 'Delphi', 'VBA', 'Visual Basic (.Net)', 'F#', 'Clojure', 'Scala', 'Perl', 'MATLAB', 'OCaml', 'Assembly', 'Dart', 'Fortran', 'Julia', 'Crystal', 'Kotlin', 'Lisp', 'Prolog', 'Haskell', 'Ada', 'Elixir', 'Erlang', 'Groovy', 'Zig', 'GDScript', 'MicroPython', 'Objective-C', 'Cobol', 'Nim', 'Apex', 'Solidity', 'Zephyr'