In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [68]:
# this method loops thru every value of the given pandas series and calculates
# the total number of nan values and the fraction of 
# the total number of nan values / the total values in series 
def count_nan(series):
    count = 0
    for i in series:
        if i is np.nan:
            count += 1
    return count, count/len(series)

In [69]:
# this method transforms a string that contains different values separated by
# a semicolon and a space(;) of a given attribute in a given dataframe into a list and 
# returns in the pandas series format and a nparray that contains the indexes of rows that
# has nan 
def merge_str_list(df, attr_name):
    drop_lst = np.array([])
    result = pd.Series()
    for i in range(df.shape[0]):
        data = df[attr_name][i]
        # if string value, extract all values into a list
        if type(data) is str:
            result[i] = data.split(';')
        # if not string value, then add the index into drop_lst
        else:
            drop_lst = np.append(drop_lst, i)
            result[i] = data
    
    return result, drop_lst

In [70]:
# read csv
df = pd.read_csv("2023 survey_results_public.csv")
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [71]:
# print out all attributes
total_attributes = df.columns
for i in total_attributes:
    print(i)

ResponseId
Q120
MainBranch
Age
Employment
RemoteWork
CodingActivities
EdLevel
LearnCode
LearnCodeOnline
LearnCodeCoursesCert
YearsCode
YearsCodePro
DevType
OrgSize
PurchaseInfluence
TechList
BuyNewTool
Country
Currency
CompTotal
LanguageHaveWorkedWith
LanguageWantToWorkWith
DatabaseHaveWorkedWith
DatabaseWantToWorkWith
PlatformHaveWorkedWith
PlatformWantToWorkWith
WebframeHaveWorkedWith
WebframeWantToWorkWith
MiscTechHaveWorkedWith
MiscTechWantToWorkWith
ToolsTechHaveWorkedWith
ToolsTechWantToWorkWith
NEWCollabToolsHaveWorkedWith
NEWCollabToolsWantToWorkWith
OpSysPersonal use
OpSysProfessional use
OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncWantToWorkWith
OfficeStackSyncHaveWorkedWith
OfficeStackSyncWantToWorkWith
AISearchHaveWorkedWith
AISearchWantToWorkWith
AIDevHaveWorkedWith
AIDevWantToWorkWith
NEWSOSites
SOVisitFreq
SOAccount
SOPartFreq
SOComm
SOAI
AISelect
AISent
AIAcc
AIBen
AIToolInterested in Using
AIToolCurrently Using
AIToolNot interested in Using
AINextVery different
AINextNeither different nor similar
AINextSomewhat similar
AINextVery similar
AINextSomewhat different
TBranch
ICorPM
WorkExp
Knowledge_1
Knowledge_2
Knowledge_3
Knowledge_4
Knowledge_5
Knowledge_6
Knowledge_7
Knowledge_8
Frequency_1
Frequency_2
Frequency_3
TimeSearching
TimeAnswering
ProfessionalTech
Industry
SurveyLength
SurveyEase
ConvertedCompYearly

In [72]:
df['YearsCode'].unique()

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

Need to change the years program into the following range

Old value                                                  => New value

x <= 2           => 0 - 2 years
 
2 < x <= 5       => 2 - 5 years

6 <= x <= 10     => 6 - 10 years

x > 10           => 11+ years

In [73]:
# transfer to bin size and create a new attribute 'code_yrs'
data = df['YearsCode']
code_yrs = pd.Series()
for i in range(len(data)):
    a = data[i]
    
    if a == "Less than 1 year":
        code_yrs[i] = "0 - 2 years"
    elif a == "More than 50 years":
        code_yrs[i] = "11+ years"
    elif type(a) == float:
        code_yrs[i] = a
    else:
        a_int = int(a)
        if a_int <= 2:
            code_yrs[i] = "0 - 2 years"
        elif a_int > 2 and a_int <= 5 :
            code_yrs[i] = "2 - 5 years"
        elif a_int >= 6 and a_int <= 10:
            code_yrs[i] = "6 - 10 years"
        elif a_int > 10:
            code_yrs[i] = "11+ years"

# create a new attribute
df['code_yrs'] = code_yrs

In [74]:
df['ConvertedCompYearly'].value_counts()

ConvertedCompYearly
64254.0     784
53545.0     615
150000.0    585
200000.0    558
74963.0     557
           ...
7336.0        1
34660.0       1
1606.0        1
319711.0      1
16917.0       1
Name: count, Length: 8784, dtype: int64

Transform float values of Salary into ranges as below:

Less than $20,000         
$20,000 - $40,000          
$40,000 - $60,000          
$60,000 - $80,000          
$80,000 - $100,000         
$100,000 - $120,000        
$120,000 - $140,000                
$140,000 - $160,000        
More than $160,000   
Rather not say             
Unemployed 
Other (please specify)      

There will be no values for Rather not say, Unemployed and Other

In [75]:
# this transform the values of salary into the same bin size as previous surveys and create a new attribute salary_merge
salary_merge = pd.Series()
data = df['ConvertedCompYearly']
for i in range(len(data)):
    if data[i] < 20000:
        salary_merge[i] = "Less than $20,000"
    elif data[i] >= 20000 and data[i] < 40000:
        salary_merge[i] = "$20,000 - $40,000"
    elif data[i] >= 40000 and data[i] < 60000:
        salary_merge[i] = "$40,000 - $60,000"
    elif data[i] >= 60000 and data[i] < 80000:
        salary_merge[i] = "$60,000 - $80,000"
    elif data[i] >= 80000 and data[i] < 100000:
        salary_merge[i] = "$80,000 - $100,000"
    elif data[i] >= 100000 and data[i] < 120000:
        salary_merge[i] = "$100,000 - $120,000"
    elif data[i] >= 120000 and data[i] < 140000:
        salary_merge[i] = "$120,000 - $140,000"
    elif data[i] >= 140000 and data[i] < 160000:
        salary_merge[i] = "$140,000 - $160,000"
    elif data[i] >= 160000:
        salary_merge[i] = "More than $160,000"
    # if nan, the transformed data is still nan
    elif np.isnan(data[i]):
        salary_merge[i] = np.nan

df['salary_merge'] = salary_merge

In [76]:
df['NEWCollabToolsHaveWorkedWith']

0                                                      NaN
1                                   Vim;Visual Studio Code
2                                              Emacs;Helix
3            IntelliJ IDEA;Vim;Visual Studio Code;WebStorm
4                                   Vim;Visual Studio Code
                               ...
89179    Android Studio;Atom;Eclipse;IntelliJ IDEA;Netb...
89180                 Android Studio;IntelliJ IDEA;PyCharm
89181    Jupyter Notebook/JupyterLab;Neovim;Visual Stud...
89182    Eclipse;IntelliJ IDEA;Nano;Notepad++;PyCharm;V...
89183                     Visual Studio;Visual Studio Code
Name: NEWCollabToolsHaveWorkedWith, Length: 89184, dtype: object

Transform df['NEWCollabToolsHaveWorkedWith'] into list and create a new attribute ide_t

In [77]:
# transform df['NEWCollabToolsHaveWorkedWith'] into list and create a new attribute ide_t
df['ide_t'], _ = merge_str_list(df, 'NEWCollabToolsHaveWorkedWith')

In [ ]:
# transform df['DevType'] into a new attribute devtyp_t

df['devtyp_t'] = df['DevType'].replace("Developer, full-stack","Developer_full-stack").replace("Developer, front-end","Developer_front-end").replace("Developer, back-end","Developer_back-end").replace("Developer, desktop or enterprise applications","Developer_desktop or enterprise applications").replace("Developer, embedded applications or devices","Developer_embedded applications or devices").replace("Developer, game or graphics","Developer_game or graphics").replace("Developer, mobile","Developer_mobile").replace("Developer, QA or test","Developer_QA or test").replace("Engineer, data","Engineer_data").replace("Engineer, site reliability","Engineer_site reliability").replace("Senior Executive (C-Suite, VP, etc.)","Senior Executive (C-Suite/VP/etc.)")


# also replace "Developer, full-stack" to "Developer_full-stack"
# replace "Developer, front-end" to "Developer_front-end"
# replace "Developer, back-end" to "Developer_back-end"
# replace "Developer, desktop or enterprise applications" to "Developer_desktop or enterprise applications"
# replace "Developer, embedded applications or devices" to "Developer_embedded applications or devices"
# replace "Developer, game or graphics" to "Developer_game or graphics"
# replace "Developer, mobile" to "Developer_mobile"
# replace "Developer, QA or test" to "Developer_QA or test"
# replace "Engineer, data" to "Engineer_data"
# replace "Engineer, site reliability" to "Engineer_site reliability"
# replace "Senior Executive (C-Suite, VP, etc.) " to "Senior Executive (C-Suite, VP, etc.) "

In [79]:
df['devtyp_t'].value_counts()

devtyp_t
Developer_full-stack                             25735
Developer_back-end                               13745
Developer_front-end                               5071
Developer_desktop or enterprise applications      3904
Other (please specify):                           3080
Developer_mobile                                  2597
Engineering manager                               2033
Student                                           1996
Developer_embedded applications or devices        1845
Data scientist or machine learning specialist     1588
DevOps specialist                                 1387
Academic researcher                               1354
Research & Development role                       1353
Senior Executive (C-Suite/VP/etc.)                1332
Engineer_data                                     1248
Cloud infrastructure engineer                     1036
Developer_game or graphics                         866
Data or business analyst                           837
System administrator                               743
Project manager                                    589
Developer_QA or test                               586
Security professional                              474
Product manager                                    446
Engineer_site reliability                          427
Educator                                           415
Scientist                                          351
Developer Experience                               326
Blockchain                                         323
Hardware Engineer                                  286
Designer                                           281
Database administrator                             257
Developer Advocate                                 212
Marketing or sales professional                    149
Name: count, dtype: int64

In [80]:
# single choice
df['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          36706
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       20543
Some college/university study without earning a degree                                11753
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8897
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         3887
Associate degree (A.A., A.S., etc.)                                                    2807
Primary/elementary school                                                              1905
Something else                                                                         1475
Name: count, dtype: int64

In [81]:
# multiple choice
df['LearnCode'].value_counts()

LearnCode
Other online resources (e.g., videos, blogs, forum)                                                                                                                               4873
Books / Physical media;Other online resources (e.g., videos, blogs, forum)                                                                                                        3300
Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)                                                                                       3070
Books / Physical media;Online Courses or Certification;Other online resources (e.g., videos, blogs, forum)                                                                        3024
Online Courses or Certification;Other online resources (e.g., videos, blogs, forum)                                                                                               2871
                                                                                                                                                                                  ...
Hackathons (virtual or in-person);School (i.e., University, College, etc);Coding Bootcamp;Other (please specify):                                                                    1
Books / Physical media;Colleague;Hackathons (virtual or in-person);Online Courses or Certification;Other online resources (e.g., videos, blogs, forum);Other (please specify):       1
Books / Physical media;Friend or family member;Online Courses or Certification;On the job training;School (i.e., University, College, etc);Other (please specify):                   1
Books / Physical media;On the job training;Other online resources (e.g., videos, blogs, forum);Coding Bootcamp;Other (please specify):                                               1
Colleague;Hackathons (virtual or in-person);Coding Bootcamp                                                                                                                          1
Name: count, Length: 790, dtype: int64

Merge df['EdLevel'] and df['LearnCode'] into a new attribute called 'edu_t'

In [82]:
# Merge df['EdLevel'] and df['LearnCode'] into a new attribute called 'edu_t'
data_formal = df['EdLevel']
data_learn = df['LearnCode']
edu_t = pd.Series()

for i in range(len(df)):
    a = data_formal[i]
    c = data_learn[i]
    lst = list()

    if a is not np.nan:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
        edu_t[i] = lst
    else:
        lst.append(a)
        if type(c) == str:
            c_lst = c.split(";")
            for j in c_lst:
                lst.append(j)
            
            edu_t[i] = lst
        else:
            edu_t[i] = a
    

df['edu_t'] = edu_t

In [83]:
# multiple choice
df['OpSysProfessional use']

0                                                    NaN
1        MacOS;Windows;Windows Subsystem for Linux (WSL)
2                                MacOS;Other Linux-based
3                                       iOS;iPadOS;MacOS
4                                Other (Please Specify):
                              ...
89179                             Android;Ubuntu;Windows
89180                                            Windows
89181                                                NaN
89182                 BSD;Red Hat;Solaris;Ubuntu;Windows
89183                                            Windows
Name: OpSysProfessional use, Length: 89184, dtype: object

In [84]:
# multiple choice
df['OpSysPersonal use']

0                                                      NaN
1        iOS;iPadOS;MacOS;Windows;Windows Subsystem for...
2                                  MacOS;Other Linux-based
3                                         iOS;iPadOS;MacOS
4                                  Other (Please Specify):
                               ...
89179                                      Android;Windows
89180                                              Windows
89181                                              Windows
89182    Arch;Debian;iOS;iPadOS;MacOS;Ubuntu;Windows;Wi...
89183                                              Windows
Name: OpSysPersonal use, Length: 89184, dtype: object

Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t

In [85]:
# Merge OpSysProfessional use and OpSysPersonal use into a new attribute opsys_t
opsys = pd.Series()
data_per = df['OpSysPersonal use']
data_pro = df['OpSysProfessional use']
for i in range(len(data_per)):
    lst = list()
    a = data_per[i]
    b = data_pro[i]
    if a is not np.nan:
        a_lst = a.split(";")
        # a and b are not nan
        if b is not np.nan:
            b_lst = b.split(";")
            lst = np.union1d(a_lst, b_lst)
        # a is non-nan and b is nan
        else:
            lst = a_lst
        # cast into nparray into list
        opsys[i] = list(lst)

    else:
        if b is not np.nan:
            opsys[i] = b.split(";")
        # both a and b are nan
        else:
            opsys[i] = a


df['opsys_t'] = opsys

In [86]:
# multiple choice
df['LanguageHaveWorkedWith']

0                                                      NaN
1                               HTML/CSS;JavaScript;Python
2                               Bash/Shell (all shells);Go
3        Bash/Shell (all shells);HTML/CSS;JavaScript;PH...
4                           HTML/CSS;JavaScript;TypeScript
                               ...
89179              HTML/CSS;Java;JavaScript;SQL;TypeScript
89180                                 Dart;Java;Python;SQL
89181    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89182    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
89183                      C#;Go;JavaScript;SQL;TypeScript
Name: LanguageHaveWorkedWith, Length: 89184, dtype: object

In [87]:
# multiple choice
df['DatabaseHaveWorkedWith']

0                                                      NaN
1                                                 Supabase
2                                                      NaN
3                                         PostgreSQL;Redis
4                BigQuery;Elasticsearch;MongoDB;PostgreSQL
                               ...
89179                      MongoDB;MySQL;PostgreSQL;SQLite
89180                                           PostgreSQL
89181                                               SQLite
89182    MariaDB;Microsoft SQL Server;MongoDB;MySQL;Red...
89183                    Microsoft SQL Server;Redis;SQLite
Name: DatabaseHaveWorkedWith, Length: 89184, dtype: object

In [88]:
# multiple choice
df['PlatformHaveWorkedWith']

0                                                      NaN
1                 Amazon Web Services (AWS);Netlify;Vercel
2        Amazon Web Services (AWS);Google Cloud;OpenSta...
3                                        Cloudflare;Heroku
4        Amazon Web Services (AWS);Firebase;Heroku;Netl...
                               ...
89179    Digital Ocean;Firebase;Google Cloud;Heroku;Vercel
89180                                                  NaN
89181                            Amazon Web Services (AWS)
89182    Amazon Web Services (AWS);Cloudflare;Google Cl...
89183                                              Hetzner
Name: PlatformHaveWorkedWith, Length: 89184, dtype: object

In [89]:
# multiple choice
df['WebframeHaveWorkedWith']

0                                                      NaN
1                               Next.js;React;Remix;Vue.js
2                                                      NaN
3             Node.js;React;Ruby on Rails;Vue.js;WordPress
4              Express;Gatsby;NestJS;Next.js;Node.js;React
                               ...
89179    Angular;AngularJS;Express;jQuery;Node.js;Nuxt....
89180                                          Spring Boot
89181                                                  NaN
89182              Express;Next.js;Node.js;React;WordPress
89183          Angular;ASP.NET;ASP.NET CORE;Blazor;Node.js
Name: WebframeHaveWorkedWith, Length: 89184, dtype: object

In [90]:
# multiple choice
df['MiscTechHaveWorkedWith']

0                                                      NaN
1                              Electron;React Native;Tauri
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
89179                                              Flutter
89180    Flutter;Opencv;RabbitMQ;Spring Framework;Torch...
89181                              NumPy;Pandas;TensorFlow
89182                             CUDA;NumPy;Torch/PyTorch
89183                .NET (5+) ;.NET Framework (1.0 - 4.8)
Name: MiscTechHaveWorkedWith, Length: 89184, dtype: object

In [91]:
# multiple choice
df['ToolsTechHaveWorkedWith']

0                                                      NaN
1              Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn
2                         Cargo;Docker;Kubernetes;Make;Nix
3                           Homebrew;npm;Vite;Webpack;Yarn
4                                  Docker;npm;Webpack;Yarn
                               ...
89179    Chocolatey;CMake;Docker;Maven (build tool);npm...
89180                               Maven (build tool);Pip
89181                                                Cargo
89182                    Docker;Kubernetes;npm;Podman;Vite
89183              Docker;npm;NuGet;pnpm;Vite;Webpack;Yarn
Name: ToolsTechHaveWorkedWith, Length: 89184, dtype: object

In [92]:
# multiple choice
df['OfficeStackAsyncHaveWorkedWith']

0                                                      NaN
1        Asana;Basecamp;GitHub Discussions;Jira;Linear;...
2                   Markdown File;Stack Overflow for Teams
3                                                     Jira
4                                   Confluence;Jira;Notion
                               ...
89179    Asana;Confluence;Jira;Markdown File;Miro;Notio...
89180                                                 Jira
89181                                                  NaN
89182                               Confluence;Jira;Trello
89183                                                  NaN
Name: OfficeStackAsyncHaveWorkedWith, Length: 89184, dtype: object

In [93]:
# multiple choice
df['OfficeStackSyncHaveWorkedWith']

0                                                      NaN
1        Cisco Webex Teams;Discord;Google Chat;Google M...
2                               Microsoft Teams;Slack;Zoom
3           Discord;Google Meet;Microsoft Teams;Slack;Zoom
4                           Discord;Google Meet;Slack;Zoom
                               ...
89179    Discord;Google Meet;Jitsi;Microsoft Teams;Slac...
89180                                      Microsoft Teams
89181                                                  NaN
89182    Cisco Webex Teams;Discord;Microsoft Teams;Sign...
89183                  Google Meet;Skype;Telegram;Whatsapp
Name: OfficeStackSyncHaveWorkedWith, Length: 89184, dtype: object

In [94]:
# multiple choice
df['AISearchHaveWorkedWith']

0                                 NaN
1                             ChatGPT
2                                 NaN
3                                 NaN
4                             ChatGPT
                     ...
89179                         ChatGPT
89180                         ChatGPT
89181               ChatGPT;Quora Poe
89182    Bing AI;ChatGPT;WolframAlpha
89183                         ChatGPT
Name: AISearchHaveWorkedWith, Length: 89184, dtype: object

In [95]:
# multiple choice
df['AIDevHaveWorkedWith']

0                   NaN
1        GitHub Copilot
2                   NaN
3                   NaN
4                   NaN
              ...
89179         Whispr AI
89180               NaN
89181               NaN
89182               NaN
89183    GitHub Copilot
Name: AIDevHaveWorkedWith, Length: 89184, dtype: object

Need to combine values in LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith, OfficeStackSyncHaveWorkedWith, AISearchHaveWorkedWith and AIDevHaveWorkedWith and merge them into a new attribute called tools. If nan values are in all 10 attributes, then drop that row.

In [96]:
# merge all 10 attributes into one new attribute called 'tools' 
# and extract the row indexes that have nan values in all 10 attributes
data_db = df['DatabaseHaveWorkedWith']
data_fw = df['WebframeHaveWorkedWith']
data_lang = df['LanguageHaveWorkedWith']
data_plat = df['PlatformHaveWorkedWith']
data_misc = df['MiscTechHaveWorkedWith']
data_tech = df['ToolsTechHaveWorkedWith']
data_a_office = df['OfficeStackAsyncHaveWorkedWith']
data_s_office = df['OfficeStackSyncHaveWorkedWith']
data_ai_s = df['AISearchHaveWorkedWith']
data_ai_d = df['AIDevHaveWorkedWith']
tools = pd.Series()
drop_lst = np.array([])
for i in range(len(df)):
    a = data_db[i]
    b = data_fw[i]
    c = data_lang[i]
    d = data_plat[i]
    e = data_misc[i]
    f = data_tech[i]
    g = data_a_office[i]
    h = data_s_office[i]
    x = data_ai_s[i]
    y = data_ai_d[i]

    a_lst = list()
    b_lst = list()
    c_lst = list()
    d_lst = list()
    e_lst = list()
    f_lst = list()
    g_lst = list()
    h_lst = list()
    x_lst = list()
    y_lst = list()

    if type(a) == str:
        a_lst = a.split(";")
    if type(b) == str:
        b_lst = b.split(";")
    if type(c) == str:
        c_lst = c.split(";")
    if type(d) == str:
        d_lst = d.split(";")
    if type(e) == str:
        e_lst = e.split(";")
    if type(f) == str:
        f_lst = f.split(";")
    if type(g) == str:
        g_lst = g.split(";")
    if type(h) == str:
        h_lst = h.split(";")
    if type(x) == str:
        x_lst = x.split(";")
    if type(y) == str:
        y_lst = y.split(";")

    # if 10 attributes are all nan values, then add the row index into drop list    
    if len(a_lst) == 0 and len(b_lst) == 0 and len(c_lst) == 0 and len(d_lst) == 0 and len(e_lst) == 0 and len(f_lst) == 0 and len(g_lst) == 0 and len(x_lst) == 0 and len(y_lst) == 0 :
        tools[i] = np.nan
        drop_lst = np.append(drop_lst, i)
    else:
        tools[i] = a_lst + b_lst + c_lst + d_lst + e_lst + f_lst + g_lst + h_lst + x_lst + y_lst

# create new attribute tools
df['tools'] = tools

In [97]:
# drop the rows that have all nan values and create a new datatframe df2
print("Rows at these indexes have all nan value and need to be dropped \n "+str(drop_lst))
print("The total number of nan values in all 10 attributes \n('LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith, OfficeStackSyncHaveWorkedWith, AISearchHaveWorkedWith and AIDevHaveWorkedWith')"
      +" \n is "+str(len(drop_lst))+" which the proportion is "+str(len(drop_lst)/len(df)))
df2 = df.drop(index = drop_lst)

Rows at these indexes have all nan value and need to be dropped
 [0.0000e+00 7.0000e+01 8.9000e+01 ... 8.8836e+04 8.9028e+04 8.9159e+04]
The total number of nan values in all 10 attributes
('LanguageHaveWorkedWith, DatabaseHaveWorkedWith, PlatformHaveWorkedWith, WebframeHaveWorkedWith, MiscTechHaveWorkedWith, ToolsTechHaveWorkedWith, OfficeStackAsyncHaveWorkedWith, OfficeStackSyncHaveWorkedWith, AISearchHaveWorkedWith and AIDevHaveWorkedWith')
 is 1584 which the proportion is 0.01776103336921421

In [98]:
# show the number and proportion of nan values in yrs of coding/experience_range
df_yrs = df2['code_yrs']
print(df_yrs.value_counts())
c, r = count_nan(df_yrs)
print("The total number of nan values for experience_range is "+str(c)+" and the proportion is "+str(r))

code_yrs
11+ years       43886
6 - 10 years    24160
2 - 5 years     14102
0 - 2 years      4972
Name: count, dtype: int64
The total number of nan values for experience_range is 480 and the proportion is 0.005479452054794521

In [99]:
# show the number and proportion of nan values in occupation
df_occup = df2['devtyp_t']
print(df_occup.value_counts())
c, r = count_nan(df_occup)
print("The total number of nan values for Occupation is "+str(c)+" and the proportion is "+str(r))

devtyp_t
Developer_full-stack                             25701
Developer_back-end                               13721
Developer_front-end                               5052
Developer_desktop or enterprise applications      3898
Other (please specify):                           3047
Developer_mobile                                  2587
Engineering manager                               2029
Student                                           1973
Developer_embedded applications or devices        1841
Data scientist or machine learning specialist     1585
DevOps specialist                                 1386
Research & Development role                       1349
Academic researcher                               1344
Senior Executive (C-Suite/VP/etc.)                1330
Engineer_data                                     1241
Cloud infrastructure engineer                     1036
Developer_game or graphics                         866
Data or business analyst                           831
System administrator                               739
Project manager                                    586
Developer_QA or test                               581
Security professional                              471
Product manager                                    446
Engineer_site reliability                          426
Educator                                           412
Scientist                                          348
Developer Experience                               325
Blockchain                                         321
Hardware Engineer                                  283
Designer                                           274
Database administrator                             256
Developer Advocate                                 212
Marketing or sales professional                    148
Name: count, dtype: int64
The total number of nan values for Occupation is 10955 and the proportion is 0.12505707762557078

In [100]:
# show the number and proportion of nan values in desktop operation system
df_op = df2['opsys_t']
print(df_op.value_counts())
c, r = count_nan(df_op)
print("The total number of nan values for desktop systems is "+str(c)+" and the proportion is "+str(r))

opsys_t
[Windows]                                                                                                                             12368
[MacOS]                                                                                                                                7814
[Ubuntu, Windows]                                                                                                                      4029
[MacOS, Windows]                                                                                                                       3998
[Windows, Windows Subsystem for Linux (WSL)]                                                                                           3089
                                                                                                                                      ...
[BSD, Fedora, MacOS, Red Hat, Solaris]                                                                                                    1
[Android, Arch, Cygwin, Debian, Fedora, MacOS, Other Linux-based, Ubuntu, Windows, Windows Subsystem for Linux (WSL), iOS, iPadOS]        1
[Android, Arch, MacOS, Ubuntu, iPadOS]                                                                                                    1
[AIX, Android, iOS, iPadOS, MacOS, Red Hat, Ubuntu, Windows, Windows Subsystem for Linux (WSL)]                                           1
[AIX, MacOS, Other (Please Specify):, iOS]                                                                                                1
Name: count, Length: 4500, dtype: int64
The total number of nan values for desktop systems is 607 and the proportion is 0.006929223744292237

In [101]:
# show the number and proportion of nan values in Preferred text editor/dev environment
df_te = df2['ide_t']
print(df_te.value_counts())
c, r = count_nan(df_te)
print("The total number of nan values for Preferred text editor is "+str(c)+" and the proportion is "+str(r))

ide_t
[Visual Studio Code]                                                                          8740
[Visual Studio, Visual Studio Code]                                                           3430
[Notepad++, Visual Studio, Visual Studio Code]                                                2167
[IntelliJ IDEA, Visual Studio Code]                                                           1652
[Vim, Visual Studio Code]                                                                     1601
                                                                                              ...
[IntelliJ IDEA, Notepad++, RubyMine, Sublime Text, Visual Studio, Visual Studio Code]            1
[IPython, Vim, Visual Studio Code, WebStorm]                                                     1
[IntelliJ IDEA, Jupyter Notebook/JupyterLab, Visual Studio, Visual Studio Code, Xcode]           1
[Atom, Eclipse, PyCharm, Visual Studio]                                                          1
[Eclipse, IntelliJ IDEA, Nano, Notepad++, PyCharm, Vim, Visual Studio, Visual Studio Code]       1
Name: count, Length: 21262, dtype: int64
The total number of nan values for Preferred text editor is 1778 and the proportion is 0.020296803652968036

In [102]:
# show the number and proportion of nan values in salary
df_salary = df2['salary_merge']
print(df_salary.value_counts())
c, r = count_nan(df_salary)
print("The total number of nan values for salary is "+str(c)+" and the proportion is "+str(r))

salary_merge
$40,000 - $60,000      7695
$60,000 - $80,000      7205
More than $160,000     7015
$80,000 - $100,000     5882
Less than $20,000      5291
$20,000 - $40,000      5216
$100,000 - $120,000    4086
$120,000 - $140,000    3165
$140,000 - $160,000    2420
Name: count, dtype: int64
The total number of nan values for salary is 39625 and the proportion is 0.4523401826484018

In [103]:
# show the number and proportion of nan values in education
df_edu = df2['edu_t']
print(df_edu.value_counts())
c, r = count_nan(df_edu)
print("The total number of nan values for education is "+str(c)+" and the proportion is "+str(r))

edu_t
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum)]                                                                                                                                                                                                                          1426
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Online Courses or Certification, On the job training, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc)]                                                                                                   1313
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc)]                                                                                                                                                                                 1222
[Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.), Other online resources (e.g., videos, blogs, forum)]                                                                                                                                                                                    1150
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Books / Physical media, Online Courses or Certification, Other online resources (e.g., videos, blogs, forum)]                                                                                                                                                                 1143
                                                                                                                                                                                                                                                                                                                             ...
[Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.), Online Courses or Certification, On the job training, School (i.e., University, College, etc), Coding Bootcamp]                                                                                                                            1
[Bachelor’s degree (B.A., B.S., B.Eng., etc.), Colleague, Hackathons (virtual or in-person), Online Courses or Certification, On the job training, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), Coding Bootcamp, Other (please specify):]                                      1
[Associate degree (A.A., A.S., etc.), Books / Physical media, Friend or family member, Online Courses or Certification, On the job training, School (i.e., University, College, etc), Other (please specify):]                                                                                                                  1
[Master’s degree (M.A., M.S., M.Eng., MBA, etc.), Books / Physical media, Colleague, Friend or family member, On the job training, Other online resources (e.g., videos, blogs, forum), Coding Bootcamp, Other (please specify):]                                                                                               1
[Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.), Books / Physical media, Colleague, Friend or family member, Online Courses or Certification, Other online resources (e.g., videos, blogs, forum), School (i.e., University, College, etc), Coding Bootcamp, Other (please specify):]       1
Name: count, Length: 3446, dtype: int64
The total number of nan values for education is 0 and the proportion is 0.0

In [104]:
# show the number and proportion of nan values in country
df_country = df2['Country']
print(df_country.value_counts())
c, r = count_nan(df_country)
print("The total number of nan values for Country is "+str(c)+" and the proportion is "+str(r))

Country
United States of America                                18584
Germany                                                  7319
India                                                    5562
United Kingdom of Great Britain and Northern Ireland     5534
Canada                                                   3496
                                                        ...
Saint Kitts and Nevis                                       1
Samoa                                                       1
Central African Republic                                    1
San Marino                                                  1
Saint Vincent and the Grenadines                            1
Name: count, Length: 185, dtype: int64
The total number of nan values for Country is 0 and the proportion is 0.0

In [105]:
# Comment out this block because it's too time consuming to run and does not reveal too much useful info

# # show the number and proportion of nan values in tools
# df_tools = df2['tools']
# print(df_tools.value_counts())
# c, r = count_nan(df_tools)
# print("The total number of nan values for tools is 0 and the proportion is 0")

In [106]:
# add year
df2['year'] = 2023

In [107]:
# drop unwanted attributes (drop compensation)

df3 = df2.loc[:,['devtyp_t', 'Country', 'edu_t','code_yrs','opsys_t','ide_t','year','tools']]
df3

,devtyp_t,Country,edu_t,code_yrs,opsys_t,ide_t,year,tools
1,Senior Executive (C-Suite/VP/etc.),United States of America,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[MacOS, Windows, Windows Subsystem for Linux (...","[Vim, Visual Studio Code]",2023,"[Supabase, Next.js, React, Remix, Vue.js, HTML..."
2,Developer_back-end,United States of America,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[MacOS, Other Linux-based]","[Emacs, Helix]",2023,"[Bash/Shell (all shells), Go, Amazon Web Servi..."
3,Developer_front-end,United States of America,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,"[MacOS, iOS, iPadOS]","[IntelliJ IDEA, Vim, Visual Studio Code, WebSt...",2023,"[PostgreSQL, Redis, Node.js, React, Ruby on Ra..."
4,Developer_full-stack,Philippines,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",6 - 10 years,[Other (Please Specify):],"[Vim, Visual Studio Code]",2023,"[BigQuery, Elasticsearch, MongoDB, PostgreSQL,..."
5,Developer_back-end,United Kingdom of Great Britain and Northern I...,[Some college/university study without earning...,11+ years,"[MacOS, Other (Please Specify):]","[Helix, Neovim]",2023,"[BigQuery, Cloud Firestore, PostgreSQL, Redis,..."
...,...,...,...,...,...,...,...,...
89179,Developer_front-end,Brazil,"[Associate degree (A.A., A.S., etc.), Online C...",11+ years,"[Android, Ubuntu, Windows]","[Android Studio, Atom, Eclipse, IntelliJ IDEA,...",2023,"[MongoDB, MySQL, PostgreSQL, SQLite, Angular, ..."
89180,Developer_back-end,Romania,"[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",2 - 5 years,[Windows],"[Android Studio, IntelliJ IDEA, PyCharm]",2023,"[PostgreSQL, Spring Boot, Dart, Java, Python, ..."
89181,NaN,Israel,"[Something else, Books / Physical media, Hacka...",6 - 10 years,[Windows],"[Jupyter Notebook/JupyterLab, Neovim, Visual S...",2023,"[SQLite, Assembly, Bash/Shell (all shells), C,..."
89182,System administrator,Switzerland,"[Secondary school (e.g. American high school, ...",2 - 5 years,"[Arch, BSD, Debian, MacOS, Red Hat, Solaris, U...","[Eclipse, IntelliJ IDEA, Nano, Notepad++, PyCh...",2023,"[MariaDB, Microsoft SQL Server, MongoDB, MySQL..."
89183,Developer_full-stack,"Iran, Islamic Republic of...","[Bachelor’s degree (B.A., B.S., B.Eng., etc.),...",11+ years,[Windows],"[Visual Studio, Visual Studio Code]",2023,"[Microsoft SQL Server, Redis, SQLite, Angular,..."

In [108]:
# export df3
df3.to_csv("2023_df3.csv")

extract all of the languages in dataset

In [109]:
tools_dic = dict()

for i in df['LanguageHaveWorkedWith']:
    if type(i) == str:

        x = i.split(";")
    
        for j in x:
            if j not in tools_dic:
                tools_dic[j] = 1
            else:
                old = tools_dic[j]
                tools_dic[j] = old + 1


print(tools_dic)

print(tools_dic.keys())

{'HTML/CSS': 46396, 'JavaScript': 55711, 'Python': 43158, 'Bash/Shell (all shells)': 28351, 'Go': 11592, 'PHP': 16274, 'Ruby': 5454, 'SQL': 42623, 'TypeScript': 34041, 'Ada': 677, 'Clojure': 1105, 'Elixir': 2028, 'Java': 26757, 'Lisp': 1342, 'OCaml': 614, 'Raku': 156, 'Scala': 2422, 'Swift': 4072, 'Zig': 729, 'Rust': 11427, 'C#': 24193, 'PowerShell': 11902, 'C++': 19634, 'Kotlin': 7935, 'Solidity': 1168, 'C': 16940, 'Perl': 2151, 'Dart': 5273, 'Haskell': 1829, 'Assembly': 4753, 'Delphi': 2831, 'R': 3702, 'Lua': 5336, 'MATLAB': 3339, 'VBA': 3107, 'Visual Basic (.Net)': 3568, 'Julia': 1010, 'F#': 849, 'Groovy': 2976, 'APL': 225, 'Objective-C': 2019, 'GDScript': 1495, 'Crystal': 389, 'Cobol': 576, 'Fortran': 833, 'Prolog': 776, 'Erlang': 868, 'Apex': 579, 'SAS': 427, 'Nim': 331, 'Flow': 214}
dict_keys(['HTML/CSS', 'JavaScript', 'Python', 'Bash/Shell (all shells)', 'Go', 'PHP', 'Ruby', 'SQL', 'TypeScript', 'Ada', 'Clojure', 'Elixir', 'Java', 'Lisp', 'OCaml', 'Raku', 'Scala', 'Swift', 'Zig', 'Rust', 'C#', 'PowerShell', 'C++', 'Kotlin', 'Solidity', 'C', 'Perl', 'Dart', 'Haskell', 'Assembly', 'Delphi', 'R', 'Lua', 'MATLAB', 'VBA', 'Visual Basic (.Net)', 'Julia', 'F#', 'Groovy', 'APL', 'Objective-C', 'GDScript', 'Crystal', 'Cobol', 'Fortran', 'Prolog', 'Erlang', 'Apex', 'SAS', 'Nim', 'Flow'])

Languages:

'HTML/CSS', 'JavaScript', 'Python', 'Bash/Shell (all shells)', 'Go', 'PHP', 'Ruby', 'SQL', 'TypeScript', 'Ada', 'Clojure', 'Elixir', 'Java', 'Lisp', 'OCaml', 'Raku', 'Scala', 'Swift', 'Zig', 'Rust', 'C#', 'PowerShell', 'C++', 'Kotlin', 'Solidity', 'C', 'Perl', 'Dart', 'Haskell', 'Assembly', 'Delphi', 'R', 'Lua', 'MATLAB', 'VBA', 'Visual Basic (.Net)', 'Julia', 'F#', 'Groovy', 'APL', 'Objective-C', 'GDScript', 'Crystal', 'Cobol', 'Fortran', 'Prolog', 'Erlang', 'Apex', 'SAS', 'Nim', 'Flow'